<div id="team" class="container-team container-team-bg paddingTop57">
  <div class="container">

    <div class="row">
      <h2 class="heading text-center">Meet some of our core team members</h2>
    </div>

    <div class="row">

      <div class="col-xs-12 col-sm-10 col-sm-offset-1">

          <div class="core-team">

            <%

               core_team = [
                 {
                   name: "Jason Goldberg",
                   title: "Chief Executive Officer",
                   image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Jason-Goldberg.png",
                   linkedIn: 'https://www.linkedin.com/in/jasonsethgoldberg/',
                   twitter: 'https://twitter.com/betashop/',
                   medium: 'https://medium.com/@betashop/',
                   description: "Jason Goldberg is a veteran internet entrepreneur with a 18 year history of scaling products to millions of users. Since 2016 Jason’s passion has been to drive mainstream consumer adoption of blockchain technologies. Jason splits time between Berlin, Germany, Pune, India, and Hong Kong."
                 },
                 {
                   name: "Nishith Shah",
                   title: "Chief Technology Officer",
                   image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Nishith-Shah.png",
                   linkedIn: 'https://www.linkedin.com/in/nishith-shah-325b977/',
                   twitter: 'https://twitter.com/nishithshah/',
                   medium: 'https://medium.com/@nishithz/',
                   description: "After a year of traveling around the world, Nishith Shah has immersed himself into crypto-economics and blockchain technology. Nishith previously founded several consumer internet companies including Hem.com, Fab.com, Fabulis, Social Median, True Sparrow and Montred. Nishith is based in Pune, India."
                 },
                 {
                   name: "Ben Bollen",
                   title: "Chief Technology Strategist",
                   image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Ben-Bollen.png",
                   linkedIn: 'https://www.linkedin.com/in/benjaminbollen/',
                   twitter: 'https://twitter.com/BenjaminBollen/',
                   medium: 'https://medium.com/@BenjaminBollen/',
                   description: "Benjamin Bollen is a physicist working to build decentralized computing systems since 2009. Benjamin previously built Hyperledger Burrow, formerly Eris-DB, as lead developer at Monax Industries, worked on the routing layer when at MaidSafe and researched computationally efficient representations of strongly correlated quantum systems at university. You can find Ben in Berlin, Germany, Brussels, Belgium and Pune, India."
                 },
                 {
                   name: "Sunil Khedar",
                   title: "Chief Technology Officer, Pepo",
                   image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Sunil-Khedar.png",
                   linkedIn: 'https://www.linkedin.com/in/sunilkhedar/',
                   twitter: 'https://twitter.com/sunilkhedar/',
                   description: "Sunil joined forces with Nishith and Jason right out of college. Co-founder of the companies they built together including Hem.com, Fab.com, Fabulis, Social Median, True Sparrow and Montred. In 2016 Sunil founded Pepo with Jason and leads a world-class engineering team based in Pune."
                 },
                 {
                   name: "Jason Banks",
                   title: "Lead Engineer",
                   image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Jason-Banks.png",
                   linkedIn: 'https://www.linkedin.com/in/jbanks82/',
                   twitter: 'https://twitter.com/jasonnotklein/',
                   medium: 'https://medium.com/@jasonnotklein/',
                   description: "From Washington D.C., Jason Banks (“Banks”), enjoys living in big cities and working on complex projects. Prior to joining the tech industry as a software developer in Berlin, Banks practiced law, primarily capital markets and finance, for Shearman & Sterling in New York, Paris, and London."
                 },
                 {
                   name: "Paul J du Plessis",
                   title: "Director Market Development",
                   image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Paul-J-du-Plessis.png",
                   linkedIn: 'https://www.linkedin.com/in/pauljduplessis/',
                   twitter: 'https://twitter.com/paulduplessis/',
                   medium: 'https://medium.com/@pauldups/',
                   description: "Paul J du Plessis has 10 years experience building technology for enterprises and growing startups in fintech, insuretech and blockchain technology. Paul joins Simple Token as the business development lead working closely with the member companies launching their own branded tokens on the Simple Token network of networks. You can find Paul in Berlin, Germany and Pune, India."
                 },
                 {
                   name: "Lionello Lunesu",
                   title: "Lead Engineer",
                   image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Leo.png",
                   linkedIn: 'https://www.linkedin.com/in/lionellolunesu/',
                   twitter: 'https://twitter.com/LioLunesu/',
                   website: 'http://www.lunesu.com/',
                   description: "Lionello is an engineer with 20 years of experience in software and hardware. He has been involved in start-ups for 15 years. He has led development teams in Bucharest and Beijing, and for Microsoft in Shanghai. Lionello has accrued broad expertise in areas such as VR, e-commerce, cloud computing, blockchain, and IoT. In 2015 Lionello co-founded Enuma Technologies in Hong Kong."
                 },
                 {
                   name: "Antoine Cote",
                   title: "Lead Engineer",
                   image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Antoine-Cote.png",
                   linkedIn: 'https://www.linkedin.com/in/antoinecote/',
                   description: "Antoine has 20 years of experience in the software industry, with 12 of those working at Microsoft. While at Microsoft, he worked on various products including Visual Studio and Azure. He also worked in 4 different startups. Antoine and his co-founder moved to Hong Kong to start Enuma Technologies, an engineering firm focused on building products leveraging blockchain."
                 },
                 {
                   name: "Kedar Chandrayan",
                   title: "Lead Software Engineer",
                   image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Kedar-Chandrayan.png",
                   linkedIn: 'https://in.linkedin.com/in/kedar-chandrayan-00a44543/',
                   description: "Kedar Chandrayan has over 7 years of experience in building scalable and robust Backend Technologies. He has a habit of asking questions and understanding the 'why' of a product / service before he builds it. He did his Bachelors in Electrical Engineering from IIT Bombay and Masters in Communication and Signal Processing from IIT Bombay."
                 },
                 {
                   name: "Abhaykumar Singh",
                   title: "Engineering Lead",
                   image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Abhaykumar-Singh.png",
                   linkedIn: 'https://www.linkedin.com/in/abhay-kumar-15156316/',
                   description: "Abhay is a Senior Principal Software Engineer. He has experience in full stack development developing Web based SAAS Applications with all facets of SDLC (Software Development Life Cycle) like Requirements Analysis, System Design, Development, Deployment, Code Review, Website Scaling. He is proficient with Ruby, Ruby On Rails, Mysql, Amazon Web Services in building web applications."
                 },
                 {
                   name: "Francesco Pacella",
                   title: "Director Product Management",
                   image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Francesco-Pacella.png",
                   linkedIn: 'https://www.linkedin.com/in/francescopacella/',
                   description: "Francesco Pacella is a Product and Marketing Manager with 5 years of experience. He developed and scaled a number of projects and companies on the tech scene across Europe and Asia focusing on growth, engagement, monetization, and analytics."
                 },
                 {
                   name: "Prineel Bandellu",
                   title: "Lead User Experience Designer",
                   image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Prineel-Bandellu.png",
                   linkedIn: 'https://www.linkedin.com/in/prineelbandellu/',
                   description: "Prineel is a Lead UX Designer with 7 years of experience in designing SaaS & Consumer products from the ground up. With his user centered approach to problem solving he has designed high impact web solution with strong emotional appeal across various domains. Prineel is based in Pune, India."
                 },
                 {
                   name: "Ignas Peciura",
                   title: "Product Marketing Manager",
                   image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Ignas-Peciura.png",
                   linkedIn: 'https://www.linkedin.com/in/peciurai/',
                   description: "Ignas Peciura is a product marketing manager with experience in consumer and B2B apps and financial services. His recent work experience includes Simple Token, Pepo, Mambu GmbH, and Barclays bank. Ignas lives in Berlin where he’s as passionate about the city as he is about his work."
                 },
                 {
                   name: "Akshay Raje",
                   title: "Lead Software Engineer",
                   image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Akshay-Raje.png",
                   twitter: 'https://twitter.com/akshayraje/',
                   medium: 'https://medium.com/@akshayraje/',
                   description: "Akshay is a lead front-end engineer and the in-house JavaScript expert. He has the expertise in cutting edge front-end technologies, PHP, WordPress and Google Apps. He's a enthusiastic about trading crypto-currencies and often writes about these topics on Medium and Quora."
                 },
                 {
                   name: "Balakrishna Hebbar",
                   title: "Director Engineering",
                   image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Balakrishna-Hebbar.png",
                   linkedIn: 'https://www.linkedin.com/in/bhebbar/',
                   twitter: 'https://twitter.com/bala_asodu/',
                   description: "Balakrishna is a lead engineer with 11+ years of experience. He has experience in building social media application like Social Median, eCommerce applications like Fab & Hem and mobile application like Pepo. He has a Master degree in Computer Applications from NIT Surathkal, Karnataka. He is passionate about learning new things be it a technology, economy or crypto currency."
                 },
                 {
                   name: "Alpesh Modi",
                   title: "Lead Software Engineer",
                   image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Alpesh-Modi.png",
                   linkedIn: 'https://www.linkedin.com/in/alpesh-modi-462a428/',
                   description: "Alpesh is a lead back-end engineer and has expertise in Ruby, Ruby on Rails . He is a hands-on technology executive with deep technical expertise.He has a very special talent to break down complex tasks into simpler tasks and achieving them with ease. Alpesh also has great knowledge on software architecture and implementation. An incredible solution generator as well as programer."
                 },
                 {
                   name: "Swaminathan Jayaraman",
                   title: "Lead User Experience Designer",
                   image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Swaminathan-Jayaraman.png",
                   linkedIn: 'https://www.linkedin.com/in/iamswam/',
                   description: "Swaminathan Jayaraman is a product designer with a focus on digital experiences and startups. He loves to travel and backpack since taking truck rides at the age of 10. He brings the same enthusiasm, edge, and interests to design and product management. Apart from travel and design, he is scouting for junior local tennis talent in India."
                 },
                 {
                   name: "Aman Barbaria",
                   title: "Senior Software Engineer",
                   image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Aman-Barbaria.png",
                   linkedIn: 'https://www.linkedin.com/in/aman-barbaria/',
                   description: "Aman Barbaria is a senior software engineer with 3 years of working experience in the e-commerce industry. He is passionate towards building consumer facing products. A strong engineering professional with a Bachelor's Degree in Computer engineering from Pune University."
                 },
                 {
                   name: "Thahir Gangireddypalli",
                   title: "Senior Software Engineer",
                   image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Thahir-Gangireddypalli.png",
                   twitter: 'https://twitter.com/ImThahir/',
                   description: "Thahir is a senior UI developer with 6+ years of experience. He has always been attracted to the visual and frontend aspects of web applications and builds responsive, cross browser and cross platform layouts. He's been with the team through Fab.com, Hem.com and Pepo."
                 },
                 {
                   name: "Junisha Malkani",
                   title: "Product Manager",
                   image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Junisha-Malkani.png",
                   linkedIn: 'https://www.linkedin.com/in/junisha-malkani/',
                   description: "Junisha is awesome with people, is entrepreneurial and understands technology well. Currently she is a Product Manager and owns the complete cycle from ideation to implementation. At Fab.com she built and guided a 20 people test team through successful execution across multiple projects. She is based in Pune, India."
                 },
                 {
                   name: "Rachin Kapoor",
                   title: "Senior Director Engineering",
                   image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Rachin-Kapoor.png",
                   linkedIn: 'https://www.linkedin.com/in/rachinkapoor/',
                   description: "Innovative, strategic & hands-on technology executive with deep technical expertise and proven ability in leading development of high technology products, streamlining efficiency, improving processes and growing operational competency."
                 },
                 {
                   name: "Kushal Ladha",
                   title: "Director Mobile Development",
                   image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Kushal-Ladha.png",
                   linkedIn: 'https://www.linkedin.com/in/kushal-ladha-4697413a/',
                   description: "Kushal is an Android Developer for Pepo working on integration with Simple Token. In the past he has worked as a backend developer for cart checkout flow, recommendation engine in Fab.com and on furniture customisation stack at Hem.com. He have extensive hands on experience in 'Ruby on Rails', Java."
                 },
                 {
                   name: "Puneet Khushwani",
                   title: "Senior Software Engineer",
                   image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Puneet-Khushwani.png",
                   linkedIn: 'https://www.linkedin.com/in/puneet-khushwani-01012726/',
                   description: "Puneet graduated from Birla Institute Of Technology & Science, Pilani Campus with a bachelor's degree in InformationSystems in May, 2013. He is currently working as a Senior Software Developer with Pepo. Specialties: Ruby On Rails"
                 },
                 {
                   name: "Pankaj Keswani",
                   title: "Principal Software Engineer",
                   image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Pankaj-Keswani.png",
                   linkedIn: 'https://www.linkedin.com/in/pankaj-keswani-1698ba3a/',
                   description: "Pankaj is a Principal Software Engineer with expertise in Ruby, Ruby on rails. If you need a superb dev who builds amazing things, can spot problems a mile away, and is too much fun to work with, then Pankaj is your man. He builds great products that work, he has an eye for user experience which makes him an invaluable asset."
                 },
                 {
                   name: "Deepesh Kumar Nath",
                   title: "Director, Mobile Development",
                   image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Deepesh.png",
                   linkedIn: 'https://www.linkedin.com/in/deepeshkumarnath/',
                   description: "Deepesh has 10 years of solid IT  experience in e-Commerce, retail and Financial domain. Currently designated as Director, Mobile Development and leading iOS team from past 2.6 years he is  always updated with new and upcoming technologies and keen to learn more."
                 },
                 {
                   name: "Aniket Ayachit",
                   title: "iOS Developer",
                   image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Aniket-Ayachit.png",
                   linkedIn: 'https://www.linkedin.com/in/aniketayachit/',
                   twitter: 'https://twitter.com/Aniket_Ayachit/',
                   description: "Aniket Ayachit is a Mobile Application Developer working as an iOS developer in team. After spending nearly 4 years working as iOS developer on different types of application for startups and established companies, Aniket knows what makes an application smooth and highly responsive.Aniket holds a Bachelor of Engineering in Information Technology from the University of Pune."
                 },
                 {
                   name: "Sachin Chauhan",
                   title: "Android Developer",
                   image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Sachin-Chauhan.png",
                   linkedIn: 'https://www.linkedin.com/in/sachin-chauhan-a1bba981/',
                   description: "Sachin is a mobile application developer working as an Android developer in the team. He has proficiency in designing UI for android applications. He has interests in Competitive programming and likes to solve challenging programming questions and also he is an active stock market trader."
                 },
                 {
                   name: "Yogesh Sawant",
                   title: "QA Engineer",
                   image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Yogesh-Sawant.png",
                   description: "Yogesh Sawant is a startup enthusiast having experience in testing  different mobile applications and web applications , He is product QA , an expert in Testing Methodologies and Product life cycles,Yogesh knows what needs to be done to make application user friendly. Yogesh Holds a Bachelor of Engineering in Information Technology from University of Pune."
                 },
               ]

            %>

            <% core_team.each_with_index do|member, index| %>
              <% if (index % 3) == 0 %><div class="row"><% end %>
              <div class="col-xs-12 col-sm-4 col-sm-offset-0" itemprop="member" itemscope itemtype="http://schema.org/Person">
                <div class="thumbnail">
                  <img itemprop="photo" src="<%=member[:image] %>" alt="<%=member[:name] %>">
                  <div class="caption">
                    <h3 itemprop="name"><%=member[:name] %></h3>
                    <h4 itemprop="jobTitle"><%=member[:title] %></h4>
                    <p class="desc"><%=member[:description] %></p>
                    <p>
                      <% if member[:linkedIn].present? %>
                        <a target="_blank" href="<%= member[:linkedIn] %>">LinkedIn</a>
                      <% end %>
                      <% if member[:twitter].present? %>
                        <% if member[:linkedIn].present? %>•&nbsp;<% end %>
                        <a target="_blank" href="<%= member[:twitter] %>">Twitter</a>
                      <% end %>
                      <% if member[:medium].present? %>
                        <% if member[:linkedIn].present? || member[:twitter].present? %>•&nbsp;<% end %>
                        <a target="_blank" href="<%= member[:medium] %>">Medium</a>
                      <% end %>
                      <% if member[:website].present? %>
                        <% if member[:linkedIn].present? || member[:twitter].present? || member[:medium].present? %>•&nbsp;<% end %>
                        <a target="_blank" href="<%= member[:website] %>">Website</a>
                      <% end %>
                    </p>
                  </div>
                </div>
              </div>
              <% if ((index % 3) == 2) || ((index + 1) == core_team.length) %></div><% end %>
            <% end %>

          </div>

        <div class="row">
          <div class="join-team col-xs-12">
            <p>Join the project team: <span>hiring@simpletoken.org</span></p>
            <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/join-team-divider-3x.png" width="124"/>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
