<%
   documentation = [
   {
     title: "Setup & Architecture",
     description: "This segment includes an entire detailed overview of OST KYC's system architecture and OST KYC's Admin Dashboard Features.",
     readmore: "Read Docs",
     readmoreurl: GlobalConstant::Base.company_other_product_urls['dev_ost_root_url'] + "kyc/docs/getting_started/overview/",
     image:{
       src: "documentation-setup-architecture-collaboration-icon",
       height: "75",
       width: "76",
       alt: "Setup & Architecture"
     }
   },
   {
     title: "API Reference",
     description: "OST KYC's API Documentation gives you flexibility and ease to integrate your own front-end by using APIs with OST KYC admin dashboard.",
     readmore: "API Documentation",
     readmoreurl: GlobalConstant::Base.company_other_product_urls['dev_ost_root_url'] + 'kyc/docs/api/#introduction',
     image:{
       src: "documentation-api-reference-icon",
       height: "75",
       width: "76",
       alt: "API Reference"
     }
   },
   {
     title: "Customizable Front-End",
     description: "OST KYC's experience includes customisable front-end development, where KYC users can submit their data and upload their documents.",
     readmore: "Read Docs",
     readmoreurl: GlobalConstant::Base.company_other_product_urls['dev_ost_root_url'] + "kyc/docs/features/front_end_customization/",
     image:{
       src: "documentation-customizable-icon",
       height: "75",
       width: "76",
       alt: "Customizable Front-End"
     }
   }
   ]
%>

<section class="container-more-benefits container-documentation pt-4 pb-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center">Documentation</h2>
        <div class="card-group">
          <% documentation.each_with_index do|member, index| %>
            <% if (index % 3) == 0 %><div class="row"><% end %>
            <div class="col-12 col-md-4 card mb-5" itemprop="member" itemscope itemtype="http://schema.org/Person">
              <svg width="<%=member[:image][:width] %>" height="<%=member[:image][:height] %>" class="d-block">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#<%=member[:image][:src] %>"></use>
                </switch>
              </svg>
              <div class="card-body p-0 mt-3 mb-4">
                <h5 class="card-title"><%= raw member[:title] %></h5>
                <p class="card-text companies-desc"><%= raw member[:description] %></p>
              </div>
              <div class="card-footer p-0">
                <a href="<%= raw member[:readmoreurl] %>" class="read-more text-uppercase font-weight-normal" target="_blank" title="<%= member[:readmore] %>"><%= raw member[:readmore] %></a>
              </div>
            </div>
            <% if ((index % 3) == 2) || ((index + 1) == documentation.length) %></div><% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>



