<%
   faqs = [
     {
       title: "What sources does ostKYC check?",
       description: "ostKYC provides a seamless integration with Cynopsis-Artemis API to manage the anti money laundering / counter terrorism financing, risk assessment, risk scoring and risk rating of your customers.",
       readmore: "Read More",
       readmoreurl: "https://docs.google.com/document/d/1ZZJksQkK3c4Qa6ad8zaDRuL0gIha2Ecmdlsl0dtxejo/edit#heading=h.5zf787787ll"
     },
     {
       title: "How does ostKYC protect personal data?",
       description: "ostKYC APIs and tools are SSL protected and the infrastructure is hosted on AWS VPC (virtual private cloud). Traffic to and from VPC stays within the company's firewall without crossing the Internet.",
       readmore: "Read More",
       readmoreurl: "https://docs.google.com/document/d/1ZZJksQkK3c4Qa6ad8zaDRuL0gIha2Ecmdlsl0dtxejo/edit#heading=h.gwn7zthvlc2w",
       bg_class: "bg-image"
     },
   ]
%>

<section class="container-faqs">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>FAQs</h2>
        <div class="">
          <% faqs.each_with_index do|data, index| %>
            <% if (index % 3) == 0 %><div class="row"><% end %>
            <div class="col-12 col-sm-6 offset-sm-0 <%= raw data[:bg_class] %>">
              <h3><%= raw data[:title] %></h3>
              <p class="companies-desc"><%= raw data[:description] %></p>
              <a href="<%= raw data[:readmoreurl] %>" class="read-more" target="_blank"><%= raw data[:readmore] %></a>
            </div>
            <% if ((index % 3) == 2) || ((index + 1) == faqs.length) %></div><% end %>
          <% end %>
          <div class="text-center col-12">
            <a href="https://docs.google.com/document/d/1ZZJksQkK3c4Qa6ad8zaDRuL0gIha2Ecmdlsl0dtxejo/edit?usp=sharing" target="_blank" class="btn btn-primary" title="Read Documentation">Read Documentation</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


