<%
   img_root = "//dxwfxs8b4lg24.cloudfront.net/ost-kyc/images/marketing/";
   more_benefits = [
   {
     title: "Guidance",
     description: "Enjoy tech support & ICO advices throughout the setup and execution.",
     image:{
       src: img_root + "more-benefits-guidance-icon.png",
       height: "75",
       alt: "Review process"
     }
   },
   {
     title: "Security",
     description: "Two-way encrypted and secured server that ensures access just to you.",
     image:{
       src: img_root + "more-benefits-security-icon.png",
       height: "75",
       alt: "Encryption"
     }
   },
   {
     title: "Crypto-Powered",
     description: "Purchase OST KYC with $OST and get the most convenient price on the market.",
     image:{
       src: img_root + "more-benefits-crypto-icon.png",
       height: "75",
       alt: "Admin and 2FA"
     }
   },
   {
     title: "User Experience",
     description: "Leverage on our 10+ years UX experience to optimize users and admins conversion.",
     image:{
       src: img_root + "more-benefits-ux-icon.png",
       height: "75",
       alt: "Transactional Emails"
     }
   },
   {
     title: "Speed",
     description: "Quickly and safely process and verify thousands of customers every day.",
     image:{
       src: img_root + "more-benefits-speed-icon.png",
       height: "75",
       alt: "Smart Filters"
     }
   },
   {
     title: "Collaboration",
     description: "Activate and manage unlimited admins and lead your team to success.",
     image:{
       src: img_root + "more-benefits-collaboration-icon.png",
       height: "75",
       alt: "Support"
     }
   },
   ]
%>

<section class="container-more-benefits">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center">More Benefits</h2>
        <% more_benefits.each_with_index do|member, index| %>
          <% if (index % 3) == 0 %><div class="row"><% end %>
          <div class="col-12 col-md-4" itemprop="member" itemscope itemtype="http://schema.org/Person">
            <img itemprop="photo" src="<%=member[:image][:src] %>" alt="<%=member[:image][:alt] %>" height="<%=member[:image][:height] %>">
            <h3><%= raw member[:title] %></h3>
            <p class="companies-desc"><%= raw member[:description] %></p>
          </div>
          <% if ((index % 3) == 2) || ((index + 1) == more_benefits.length) %></div><% end %>
        <% end %>
      </div>
    </div>
    <div class="text-center">
      <a href="#contactus" class="btn btn-primary smooth-scroll" title="Contact Us">Contact Us</a>
    </div>
  </div>
</section>


