<%
   powered_by = [
     {
      col1: "User Registrations",
      col2: "400 user registrations ",
      col3: "5,000 user registrations Included",
      bg_color: 'active'
     },
     {
      col1: "Secure storage",
      col2: "3 months",
      col3: "3 months</br> <small class='font-weight-light'>12 Months Secure Storage included with any Add-On</small>",
      bg_color: 'transparent'
     },
     {
      col1: "Encryption",
      col2: "256-bit AES and SSL/TLS ",
      col3: "256-bit AES and SSL/TLS ",
      bg_color: 'active'
     },
     {
      col1: "Support",
      col2: "Email Support",
      col3: "Priority Support </br><small class='font-weight-light'>Email, Skype and Phone</small>",
      bg_color: 'transparent'
     },
     {
      col1: "ETH Whitelisting",
      col2: "Included",
      col3: "Available as Add-On (+$1)",
      bg_color: 'active'
     },
     {
      col1: "Customisable Front-End",
      col2: "Included",
      col3: "Available as Add-On (+$1)",
      bg_color: 'transparent'
     },
     {
       col1: "Pricing",
       col2: "Flat rate <br/> <span class='price-text'>$2,500</span> <br/> Prepayments in $OST",
       col3: "Starts at <br/> <span class='price-text'>$2</span><small class='price-text-small'>Per User Submission</small><br/> Prepayments in $OST",
       bg_color: 'active'
     }
   ]
%>
<section id="pricing" class="container-powered">

  <div class="container-fluid">
    <div class="row powered-desc">
      <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <h2>
          <span style="vertical-align: bottom">Powered by</span>
          <img src="//d36lai1ppm9dxu.cloudfront.net/assets/image/ost-kyc/ost-logo-white.svg" height="48" />
        </h2>
        <p>OST KYC offers flexible features to run your ICO and charges in OST.</p>
        <div class="row table-tabs">
          <div class="col-4"></div>
          <div class="col-4">
            <div class="d-flex item active title">
              <div class="align-self-center">Presale Plan</div>
            </div>
          </div>
          <div class="col-4 p-0">
            <div class="d-flex item transparent title">
              <div class="align-self-center">Public Sale plan</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
          <div class="row data-rows">
            <div class="col-4 p-0">
              <% powered_by.each_with_index do|data, index| %>
                <div class="<%= data[:bg_color] %> d-flex item">
                  <div class="align-self-center p-0"><%= raw data[:col1] %></div>
                </div>
              <% end %>
            </div>
            <div class="col-4">
              <% powered_by.each_with_index do|data, index| %>
                <div class="<%= data[:bg_color] %> d-flex item">
                  <div class="align-self-center p-0 font-weight-normal"><%= raw data[:col2] %></div>
                </div>
              <% end %>
            </div>
            <div class="col-4 p-0 last-div">
              <% powered_by.each_with_index do|data, index| %>
                <div class="<%= data[:bg_color] %> d-flex item">
                  <div class="align-self-center p-0 font-weight-normal"><%= raw data[:col3] %></div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    <div class="text-center mt-5">
      <a href="#contactus" class="btn btn-primary smooth-scroll" title="Get Started">Get Started</a>
    </div>

  </div>
</section>


