<%
  data_set = [
    {
      :heading => "Architecture",
      :caption => "Launch your own branded digital currency, powered by Simple Tokens.",
      :img_src => "//d5qlujvqiya5c.cloudfront.net/common-assets/images/home_page/features_template_builder_image_v1.png",
      :iframe_src => "https://www.youtube.com/embed/W6zmaxrIrp4?loop=1&playlist=W6zmaxrIrp4&showinfo=0&enablejsapi=1&autoplay=1"
    },
    {
      :heading => "Review Process",
      :caption => "Launch your own branded digital currency, powered by Simple Tokens.",
      :img_src => "//d5qlujvqiya5c.cloudfront.net/common-assets/images/home_page/features_template_builder_image_v1.png",
      :iframe_src => "https://www.youtube.com/embed/W6zmaxrIrp4?loop=1&playlist=W6zmaxrIrp4&showinfo=0&enablejsapi=1&autoplay=1"
    },
    {
      :heading => "Issues Resolution",
      :caption => "Launch your own branded digital currency, powered by Simple Tokens.",
      :img_src => "//d5qlujvqiya5c.cloudfront.net/common-assets/images/home_page/features_template_builder_image_v1.png",
      :iframe_src => "https://www.youtube.com/embed/W6zmaxrIrp4?loop=1&playlist=W6zmaxrIrp4&showinfo=0&enablejsapi=1&autoplay=1"
    },
    {
      :heading => "Whitelisting",
      :caption => "Launch your own branded digital currency, powered by Simple Tokens.",
      :img_src => "//d5qlujvqiya5c.cloudfront.net/common-assets/images/home_page/features_template_builder_image_v1.png",
      :iframe_src => "https://www.youtube.com/embed/W6zmaxrIrp4?loop=1&playlist=W6zmaxrIrp4&showinfo=0&enablejsapi=1&autoplay=1"
    }
  ];
  
%>


<div class="container-fluid" id="kyc-video-carousel-container">
  <h2 class="section-header">Fits All Your ICO Process Needs</h2>
  <div id="kyc-video-carousel" class="carousel slide featuresSection carouselMobile" data-ride="carousel">
    <!-- roundedIndicators Indicators -->
    <ol class="carousel-indicators topMenuIndicators row">
      <% data_set.each_with_index do |data, indx| %>
        <li data-target="#kyc-video-carousel" 
          data-slide-to="<%= indx %>" 
          class="<%= indx == 0 ? 'active' : '' %>"><%= data[:heading] %></li>
      <% end %>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <% data_set.each_with_index do |data, indx| %>
        <div class="item <%= indx == 0 ? 'active' : '' %>">
          <div class="kyc-carousel-caption">
            <h3><%= data[:caption] %></h3>
          </div>
          <div class="row">
            <div class="col-xs-1"></div>
            <div class="kyc-carousel-content col-xs-10">
              <span class="pepo-play-icon play-icon-position"></span>
              <img src="<%= data[:img_src] %>" alt="Gorgeous Looking Emails Image" class="img-responsive"/>
              <iframe class="embed-responsive-item" data-src="<%= data[:iframe_src] %>" allowfullscreen hidden style="border:0"></iframe>
            </div>
            <div class="col-xs-1"></div>
          </div>
        </div>
      <% end %>
    </div>
    <!-- roundedIndicators Indicators -->
    <ol class="carousel-indicators roundedIndicators">
      <% data_set.each_with_index do |data, indx| %>
        <li data-target="#kyc-video-carousel" 
          data-slide-to="<%= indx %>" 
          class="<%= indx == 0 ? 'active' : '' %>"></li>
      <% end %>
    </ol>
  </div>
</div>