<%

  image_path= "//d36lai1ppm9dxu.cloudfront.net/assets/image/ost-kyc/";
  youtube_url_params="?rel=0&autoplay=1";
  data_set = [
    {
      :heading => "Architecture",
      :caption => "Explore the OST KYC system architecture and components.",
      :img_src => image_path + "ost-kyc-demo-architecture-overview-v2.png",
      :iframe_src => "https://www.youtube.com/embed/OF-5nOB8Odw" + youtube_url_params,
      :play_btn_text => "WATCH DEMO"
    },
    {
      :heading => "Customizable Front-End",
      :caption => "Discover the seamless experience you can offer to your future token holders.",
      :img_src => image_path + "ost-kyc-demo-ux-v2.png",
      :iframe_src => "https://www.youtube.com/embed/QEhGyCU9kQ0" + youtube_url_params,
      :play_btn_text => "WATCH DEMO"
    },
    {
      :heading => "Admin Dashboard",
      :caption => "Learn how to utilize the OST KYC admin dashboard to easily manage thousands of applications.",
      :img_src => image_path + "ost-kyc-demo-dashboard-v1.png",
      :iframe_src => "https://www.youtube.com/embed/xxQWRSHV5l8" + youtube_url_params,
      :play_btn_text => "WATCH DEMO"
    },
    {
      :heading => "Review Process",
      :caption => "Learn how to review, approve, and resolve issues to grant customers access to your token sale.",
      :img_src => image_path + "ost-kyc-demo-review-process-v1.png",
      :iframe_src => "https://www.youtube.com/embed/7yHqbKl5hKo" + youtube_url_params,
      :play_btn_text => "WATCH DEMO"
    }
  ];
  
%>


<section class="container-fluid" id="kyc-demo-section">
  <!-- div class="row" -->
    <!-- div class="col-12" -->
      <div>
        <h2 class="section-header">Fits All Your ICO Process Needs</h2>

        <div id="kyc-video-carousel" class="carousel slide featuresSection carouselMobile" data-ride="carousel"><!-- data-ride="carousel" -->
          <ol class="carousel-indicators topMenuIndicators d-none d-sm-flex">
            <% data_set.each_with_index do |data, indx| %>
                <li data-target="#kyc-video-carousel"
                    data-slide-to="<%= indx %>"
                    class="<%= indx == 0 ? 'active' : '' %>"><%= data[:heading] %></li>
            <% end %>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <% data_set.each_with_index do |data, indx| %>
                <div class="carousel-item <%= indx == 0 ? 'active' : '' %>" data-indx="<%= indx %>">
                  <div class="kyc-carousel-caption">
                    <h3><%= data[:caption] %></h3>
                  </div>

                  <div class="row">
                    <div class="d-none d-sm-inline col-sm-1 col-lg-2"></div>
                    <div class="kyc-carousel-content col-11 col-sm-10 col-lg-8 mx-auto">
                      <img class="img-fluid responsively-lazy"
                           src="<%= data[:img_src] %>"
                           alt="Gorgeous Looking Emails Image"
                           data-srcset="<%= data[:img_src] %>"
                           srcset="<%= raw GlobalConstant::Base.placeholder_image_src %>"
                      />
                      <iframe class="embed-youtube-item" data-src="<%= data[:iframe_src] %>" allowfullscreen style="border:0"></iframe>
                      <button type="submit" class="btn btn-primary ost-kyc-play-btn" title="<%= data[:play_btn_text] %>">
                        <div class="btn-play">
                          <div class="play align-middle">
                            <svg class="svg">
                              <switch>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play"></use>
                              </switch>
                            </svg>
                          </div>
                          <span title="Watch Demo" class="align-middle"><%= data[:play_btn_text] %></span>
                        </div>
                      </button>
                    </div>
                    <div class="d-none d-sm-block col-sm-1 col-lg-2"></div>
                  </div>
                </div>
            <% end %>
            

          </div>
          <!-- roundedIndicators Indicators -->
          <ol class="carousel-indicators roundedIndicators d-sm-none">
          <% data_set.each_with_index do |data, indx| %>
              <li data-target="#kyc-video-carousel"
                  data-slide-to="<%= indx %>"
                  class="<%= indx == 0 ? 'active' : '' %>"></li>
          <% end %>
          </ol>   
                     


        </div>
      </div>
    <!-- /div -->
  <!-- /div -->
</section>