<div class="container-fluid container-dates">

  <div class="content">
    <h2 class="header">Important Dates</h2>

    <div class="container-timeline">
      <div class="progress">
        <div class="progress-bar progress-bar-completed" role="progressbar" style="width: <%= @presenter_obj.progress_bar_percent %>%"></div>
      </div>
      <div class="milestone" style="left:calc(0% - 75px)">
        <div class="date"><%= "#{GlobalConstant::StTokenSale.pre_sale_register_start_date.day} #{GlobalConstant::StTokenSale.pre_sale_register_start_date.strftime('%b')}" %></div>
        <div class="point" <%= raw 'style="border-color: #597a84"' if @presenter_obj.has_pre_sale_register_started? %> ></div>
        <div class="title">Pre-registration Starts</div>
      </div>
      <div class="milestone" style="left:calc(33.33% - 75px)">
        <div class="date"><%= "#{GlobalConstant::StTokenSale.pre_sale_register_end_date.day} #{GlobalConstant::StTokenSale.pre_sale_register_end_date.strftime('%b')}" %></div>
        <div class="point" <%= raw 'style="border-color: #597a84"' if @presenter_obj.has_pre_sale_register_ended? %> ></div>
        <div class="title">Pre-Registered Sale Ends</div>
      </div>
      <div class="milestone" style="left:calc(66.66% - 75px)">
        <div class="date"><%= "#{GlobalConstant::StTokenSale.public_sale_start_date.day} #{GlobalConstant::StTokenSale.public_sale_start_date.strftime('%b')}" %></div>
        <div class="point" <%= raw 'style="border-color: #597a84"' if @presenter_obj.has_public_sale_started? %> ></div>
        <div class="title">Public Sale Starts</div>
      </div>
      <div class="milestone" style="left:calc(100% - 75px)">
        <div class="date"><%= "#{GlobalConstant::StTokenSale.public_sale_end_date.day} #{GlobalConstant::StTokenSale.public_sale_end_date.strftime('%b')}" %></div>
        <div class="point" <%= raw 'style="border-color: #597a84"' if @presenter_obj.has_sale_ended? %> ></div>
        <div class="title">Pubic Sale Ends</div>
      </div>
    </div>

    <div class="container-timeline-vertical">
      <div class="progress">
        <div class="progress-bar progress-bar-completed" role="progressbar" style="height: <%= @presenter_obj.progress_bar_percent %>%"></div>
      </div>
      <div class="milestone" style="top:calc(0% - 15px)">
        <div class="point" <%= raw 'style="border-color: #597a84"' if @presenter_obj.has_pre_sale_register_started? %> ></div>
        <div class="date"><%= "#{GlobalConstant::StTokenSale.pre_sale_register_start_date.day} #{GlobalConstant::StTokenSale.pre_sale_register_start_date.strftime('%b')}" %></div>
        <div class="title">Pre-registration Starts</div>
      </div>
      <div class="milestone" style="top:calc(33.33% - 15px)">
        <div class="point" <%= raw 'style="border-color: #597a84"' if @presenter_obj.has_pre_sale_register_ended? %> ></div>
        <div class="date"><%= "#{GlobalConstant::StTokenSale.pre_sale_register_end_date.day} #{GlobalConstant::StTokenSale.pre_sale_register_end_date.strftime('%b')}" %></div>
        <div class="title">Pre-Registered Sale Ends</div>
      </div>
      <div class="milestone" style="top:calc(66.66% - 15px)">
        <div class="point" <%= raw 'style="border-color: #597a84"' if @presenter_obj.has_public_sale_started? %> ></div>
        <div class="date"><%= "#{GlobalConstant::StTokenSale.public_sale_start_date.day} #{GlobalConstant::StTokenSale.public_sale_start_date.strftime('%b')}" %></div>
        <div class="title">Public Sale Starts</div>
      </div>
      <div class="milestone" style="top:calc(100% - 15px)">
        <div class="point" <%= raw 'style="border-color: #597a84"' if @presenter_obj.has_sale_ended? %> ></div>
        <div class="date"><%= "#{GlobalConstant::StTokenSale.public_sale_end_date.day} #{GlobalConstant::StTokenSale.public_sale_end_date.strftime('%b')}" %></div>
        <div class="title">Pubic Sale Ends</div>
      </div>
    </div>

  </div>

  <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/join-team-divider-3x.png" width="124"/>

</div>