<div class="container container-progress">

  <div class="content">
    <h2 class="header">Community Crowd Sale Bonuses</h2>
    <p class="lead">The more ST sold, the more everyone benefits!</p>

<%
    progressbar_milestones = [20.83, 38, 50, 75, 100]
%>

    <div class="container-timeline">
      <div class="progress">
        <div class="progress-bar pb-1" role="progressbar" style="width: <%=progressbar_milestones[0]%>%">
            <div class="pb-inner complete" style="width: 100%"></div>
        </div>
        <div class="progress-bar pb-2" role="progressbar" style="width: <%=progressbar_milestones[1]-progressbar_milestones[0]%>%">
            <div class="pb-inner complete" style="width: 100%"></div>
        </div>
        <div class="progress-bar pb-3" role="progressbar" style="width: <%=progressbar_milestones[2]-progressbar_milestones[1]%>%">
            <div class="pb-inner complete" style="width: 100%"></div>
        </div>
        <div class="progress-bar pb-4" role="progressbar" style="width: <%=progressbar_milestones[3]-progressbar_milestones[2]%>%">
            <div class="pb-inner in-progress" style="width: 60%"></div>
        </div>
        <div class="progress-bar pb-5" role="progressbar" style="width: <%=progressbar_milestones[4]-progressbar_milestones[3]%>%">
            <div class="pb-inner" style="width: 0%"></div>
        </div>
      </div>
      <div class="milestones">
        <div class="milestone ms-1 complete" style="left:calc(<%=progressbar_milestones[0]%>% - 50px)">
          <div class="st"><strong>50M</strong> ST</div>
          <div class="line"></div>
          <div class="point">
            <div class="point-inner"></div>
          </div>
          <div class="check">&#10004;</div>
          <div class="desc">
            <div class="title">Soft Cap</div>
            <div class="sub">Sale Activated</div>
          </div>
        </div>
        <div class="milestone ms-2 complete" style="left:calc(<%=progressbar_milestones[1]%>% - 50px)">
          <div class="o-circle">
            <div class="circle-inner">ST Target Achieved</div>
          </div>
          <div class="st"><strong>100M</strong> ST</div>
          <div class="line"></div>
          <div class="point">
            <div class="point-inner"></div>
          </div>
          <div class="check">&#10004;</div>
          <div class="desc">
            <div class="title">Target</div>
            <div class="sub">Everyone gets</div>
            <div class="bonus">20% bonus</div>
          </div>
        </div>
        <div class="milestone ms-3 in-progress" style="left:calc(<%=progressbar_milestones[2]%>% - 50px)">
          <div class="o-circle">
            <div class="circle-inner">ST Kicker Achieved</div>
          </div>
          <div class="st"><strong>120M</strong> ST</div>
          <div class="line"></div>
          <div class="point">
            <div class="point-inner"></div>
          </div>
          <div class="check">&#10004;</div>
          <div class="desc">
            <div class="title">Kicker</div>
            <div class="sub">Everyone gets</div>
            <div class="bonus">25% bonus</div>
          </div>
        </div>
        <div class="milestone ms-4" style="left:calc(<%=progressbar_milestones[3]%>% - 50px)">
          <div class="o-circle">
            <div class="circle-inner">ST Power Achieved</div>
          </div>
          <div class="st"><strong>180M</strong> ST</div>
          <div class="line"></div>
          <div class="point">
            <div class="point-inner"></div>
          </div>
          <div class="check">&#10004;</div>
          <div class="desc">
            <div class="title">Power</div>
            <div class="sub">Everyone gets</div>
            <div class="bonus">30% bonus</div>
          </div>
        </div>
        <div class="milestone ms-5" style="left:calc(<%=progressbar_milestones[4]%>% - 50px)">
          <div class="o-circle">
            <div class="circle-inner">Token Sale Ends</div>
          </div>
          <div class="st"><strong>240M</strong> ST</div>
          <div class="line"></div>
          <div class="point">
            <div class="point-inner"></div>
          </div>
          <div class="check">&#10004;</div>
        </div>
      </div>
    </div>

    <div class="container-timeline vertical">
      <div class="progress">
        <div class="progress-bar pb-1" role="progressbar" style="height: <%=progressbar_milestones[0]%>%">
          <div class="pb-inner complete" style="height: 100%"></div>
        </div>
        <div class="progress-bar pb-2" role="progressbar" style="height: <%=progressbar_milestones[1]-progressbar_milestones[0]%>%">
          <div class="pb-inner complete" style="height: 100%"></div>
        </div>
        <div class="progress-bar pb-3" role="progressbar" style="height: <%=progressbar_milestones[2]-progressbar_milestones[1]%>%">
          <div class="pb-inner complete" style="height: 100%"></div>
        </div>
        <div class="progress-bar pb-4" role="progressbar" style="height: <%=progressbar_milestones[3]-progressbar_milestones[2]%>%">
          <div class="pb-inner in-progress" style="height: 60%"></div>
        </div>
        <div class="progress-bar pb-5" role="progressbar" style="height: <%=progressbar_milestones[4]-progressbar_milestones[3]%>%">
          <div class="pb-inner" style="height: 0%"></div>
        </div>
      </div>
      <div class="milestones">
        <div class="milestone ms-1 complete" style="top:<%=progressbar_milestones[0]%>%">
          <div class="st"><strong>50M</strong> ST</div>
          <div class="line"></div>
          <div class="point">
            <div class="point-inner"></div>
          </div>
          <div class="check">&#10004;</div>
          <div class="desc">
            <div class="title">Soft Cap</div>
            <div class="sub">Sale Activated</div>
          </div>
        </div>
        <div class="milestone ms-2 complete" style="top:<%=progressbar_milestones[1]%>%">
          <div class="st"><strong>100M</strong> ST</div>
          <div class="line"></div>
          <div class="point">
            <div class="point-inner"></div>
          </div>
          <div class="check">&#10004;</div>
          <div class="desc">
            <div class="title">Target</div>
            <div class="sub">Everyone gets</div>
            <div class="bonus">20% bonus</div>
          </div>
        </div>
        <div class="milestone ms-3 in-progress" style="top:<%=progressbar_milestones[2]%>%">
          <div class="st"><strong>120M</strong> ST</div>
          <div class="line"></div>
          <div class="point">
            <div class="point-inner"></div>
          </div>
          <div class="check">&#10004;</div>
          <div class="desc">
            <div class="title">Kicker</div>
            <div class="sub">Everyone gets</div>
            <div class="bonus">25% bonus</div>
          </div>
        </div>
        <div class="milestone ms-4" style="top:<%=progressbar_milestones[3]%>%">
          <div class="st"><strong>180M</strong> ST</div>
          <div class="line"></div>
          <div class="point">
            <div class="point-inner"></div>
          </div>
          <div class="check">&#10004;</div>
          <div class="desc">
            <div class="title">Power</div>
            <div class="sub">Everyone gets</div>
            <div class="bonus">30% bonus</div>
          </div>
        </div>
        <div class="milestone ms-5" style="top:<%=progressbar_milestones[4]%>%">
          <div class="st"><strong>240M</strong> ST</div>
          <div class="line"></div>
          <div class="point">
            <div class="point-inner"></div>
          </div>
          <div class="check">&#10004;</div>
        </div>
      </div>
    </div>

  </div>

</div>