<%
  allocation_data = [
    {
      heading: "Token Sale",
      description: "240,000,000 ST to be sold in token sale #1, representing 30% of the total token supply.",
      init_value: 30,
      bar_color: "#6ba4aa",
      font_color: "#6ba4aa"
    },
    {
      heading: "Future Token Sale",
      description: "5% to 17.2% of token supply (depending on bonuses) reserved for future token sales, locked in smart contract for minimum of 6 months.",
      init_value: 17.2,
      bar_color: "#91c0ad",
      font_color: "#91c0ad"
    },
    {
      heading: "Accelerator Program",
      description: "27.2% of token supply reserved for grants for promising Branded Token projects and developers building on ST.",
      init_value: 27.2,
      bar_color: "#e4b030",
      font_color: "#e4b030"
    },
    {
      heading: "Early Backers",
      description: "5.6% of tokens allocated to early financial backers who supported the project development since early 2016. 3 year vesting schedule.",
      init_value: 5.6,
      bar_color: "#7f9183",
      font_color: "#7f9183"
    },
    {
      heading: "Advisors",
      description: "10% of tokens allocated to project advisors. 2 year vesting schedule.",
      init_value: 10,
      bar_color: "#6c9ba9",
      font_color: "#6c9ba9"
    },
    {
      heading: "Founders",
      description: "10% of tokens allocated to the Founding Team. 3 to 4 year vesting schedules.",
      init_value: 10,
      bar_color: "#597a84",
      font_color: "#597a84"
    },
  ]
%>

<section class="container container-token-allocation paddingTop57" id="container-token-allocation">

  <div class="row">
    <div class="col-xs-12 col-lg-10 col-lg-offset-1">
      <div class="row">
        <h2 class="header text-center">Token Allocation</h2>
        <% allocation_data.each_with_index do | data, indx | %>
          <div class="col-xs-12 col-sm-6" style="margin-bottom: 30px">
            <div class="ver-middle">
              <div class="token-allocation-radial-wrap ver-middle-inner">
                <span class="token-allocation-radial"
                      data-radial-value="<%= data[:init_value] %>"
                      data-font-color="<%= data[:font_color] %>"
                      data-bar-color="<%= data[:bar_color] %>"></span>
              </div>
              <div class="ver-middle-inner">
                <h3 class="header-title"><%= data[:heading] %></h3>
                <div class="desc"><%= data[:description] %></div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="desc text-center" style="margin: 20px 0 50px">
    * Purchasers in token sale #1 get automatic 20% discount for the token sale #2. <a href="https://docs.google.com/document/d/1jl7DUFp3uGl9OABoSfASNkes-QcLuvo_U3El_Im4S1M/edit" class="ext-links" target="_blank" title="Learn more" style="margin: 0">Learn more</a>
  </div>

  <div class="row">
    <div class="use-of-assets">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2">
          <div class="row">
            <h2 class="header text-center" style="margin-top: 10px">Use of Proceeds</h2>
          </div>
          <div class="row">
            <div class="side-by-side-content">
              <div class="col-xs-12 col-sm-6">
                <div class="image">
                  <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-token-allocation-1x.png" alt="Use of Proceeds" title="Use of Proceeds" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-token-allocation-2x.png" />
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="copy">
                  <p class="desc">The purpose of the first Simple Token sale is to empower an ecosystem and to help finance further development of the Simple Token protocol.</p>
                  <p class="desc">The majority of proceeds from token sale #1 shall go towards protocol and associated software development and ecosystem development.</p>
                  <p class="desc">Other expenses shall include security, legal, and regulatory matters to maintain the integrity of the Simple Token network.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

  <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/join-team-divider-3x.png" width="124" style="margin: 40px auto 30px;display: block;">

</section>