<%
  img_root = "//d36lai1ppm9dxu.cloudfront.net/assets/image/";
  img_version = "?v=1";
  key_dates_data = [
      {
          display_date: "1 Nov",
          heading: "Early Registration Starts",
          description: "The pre-registration took place between 1-13 November in order to access the Early Access sale on 14 November, 2017.",
          img: {
              width: 161,
              src: img_root + "simpletoken-timeline-early-registration-starts.png" + img_version
          }
      },
      {
          display_date: "14 Nov",
          heading: "Early Access Sale Starts",
          description: "1-day private sale for early registrants only. The max purchase per person in order to ensure the most people could participate has been 40 ETH.",
          img: {
              width: 204,
              src: img_root + "simpletoken-timeline-early-access.png" + img_version
          }
      },
      {
          display_date: "15 Nov",
          heading: "Public Sale Starts",
          description: "Token sale opened to the public until 1 December with no maximum purchase per person.",
          img: {
              width: 275,
              src: img_root + "simpletoken-timeline-public-sale-starts.png" + img_version
          }
      },
      {
          display_date: "1 Dec",
          heading: "Token Sale Ends",
          description: "The token sale ended at 12:59:59 UTC on 1 December 2017 with 189% target achieved.",
          img: {
              width: 155,
              src: img_root + "01-dec-token-sale-ends@2x.png" + img_version
          }
      },
      {
          display_date: "5 Dec",
          heading: "Final Report on Token Sale",
          description: "The final results from the Token Sale were published on Medium on 5 December, including a summary of buyers, distribution, and bonuses.",
          img: {
              width: 122,
              src: img_root + "05-dec-final-report-on-token-sale@2x.png" + img_version
          }
      },
      {
          display_date: "18-20 Dec",
          heading: "Altdrop Bonus",
          description: "Participants in the Altdrop program received their altcoins between 18 and 20 December. Altcoins were purchased at market rates on 15 December.",
          img: {
              width: 179,
              src: img_root + "18-20-dec-altdrop@2x.png" + img_version
          }
      },
      {
          display_date: "19 Dec",
          heading: "ST Activations",
          description: "Purchased tokens during the token sale are activated on 19 December, once activated the tokens are transferrable and tradable. (Public sale get 100% of tokens immediately, Private sale get 1/12th monthly)",
          img: {
              width: 208,
              src: img_root + "19-dec-token-activation@2x.png" + img_version
          }
      },
      {
          display_date: "19 Dec",
          heading: "OpenST 0.9.1 Release",
          description: "ST holders can stake ST on mainnet and mint Branded Tokens on utility chains",
          img: {
              width: 176,
              src: img_root + "18-dec-open-st-release@2x.png" + img_version
          }
      },
      {
          display_date: "15 Jan",
          heading: "Bonus Tokens Distribution",
          description: "All bonus tokens are distributed to all purchasers and transferrable immediately. (Public sale get 100% of bonus immediately, Private sale get 1/12th monthly)",
          img: {
              width: 253,
              src: img_root + "12-jan-bonus-token-distribution@2x.png" + img_version
          }
      }
  ];
%>

<section class="container container-token-key-dates paddingTop57" id="keydates" style="padding-bottom: 57px">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
      <h2 class="header text-center">Token Sale Key Dates</h2>
      <!-- THE CODE | THE CODE | THE CODE | THE CODE | THE CODE -->
      <div id="timeline">
        <div class="demo-card-wrapper">

          <% key_dates_data.each_with_index do | data, indx | %>
            <div class="demo-card demo-card--step<%= indx + 1%>">
              <div class="head">
                <div class="number-box"><%= data[:display_date] %></div>
                <h3><%= data[:heading] %></h3>
              </div>
              <div class="body">
                <p><%= data[:description] %></p>
                <% if data[:img].present? %>
                  <img src="<%= data[:img][:src] %>" style="width:<%= data[:img][:width] %>px;" />
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>