<%= render :partial => "/shared/web/common/index_svg_sprite" %>
<%= render :partial => "/shared/web/common/navbar" %>
<%= render :partial => "/web/token_sale/jumbotron" %>
<% if @presenter_obj.has_sale_ended? || @presenter_obj.has_sale_paused? || (!@presenter_obj.has_early_access_sale_started?) %>
    <%= render :partial => "/web/dashboard/telegram" %>
<% end %>
<%= render :partial => "/web/token_sale/microsite_nav" %>

<% if @presenter_obj.has_early_access_sale_started? %>
    <div class="container-fluid container-progress <%= !(@presenter_obj.has_sale_ended? || @presenter_obj.has_sale_paused?) ? 'gradient' : '' %> " id="sale-progress-container">
      <div class="content">
        <% if !@presenter_obj.target_milestone_achieved? %>
        <h2 class="header">Community Bonuses</h2>
        <p class="lead">
              All buyers get 15% ETH Price Bonus
              <a href="https://medium.com/simple-token/important-update-price-adjustments-based-on-eth-during-st-token-sale-893fa99531cd" target="_blank">learn
                more</a><br/>
              +20% additional bonus when Target is hit!
        </p>
        <% else %>
        <h2 class="header"><%= 15 + @presenter_obj.community_bonus %>% Bonus Activated for All Buyers </h2>
        <p class="lead">
          <a href="#communityBonus" class="smooth-scroll"><%= @presenter_obj.community_bonus %>% <%=@presenter_obj.last_milestone_achieved.titleize %> Bonus</a> +
          <a href="https://medium.com/simple-token/important-update-price-adjustments-based-on-eth-during-st-token-sale-893fa99531cd" target="_blank">15% ETH Price Bonus</a>!
        </p>
        <% end %>
        <%= render :partial => "/shared/web/common/progress" %>
      </div>
    </div>
    <% unless @presenter_obj.has_sale_ended? || @presenter_obj.has_sale_paused? %>
        <%= render :partial => "/web/token_sale/tweet" %>
        <div class="token-sale-progress text-center signup">
          <%= render :partial => "/web/token_sale/sale_stats" %>
        </div>
    <% end %>
<% end %>

<%= render :partial => "/web/token_sale/why" %>
<%= render partial: '/shared/web/common/press' %>
<%= render :partial => "/web/token_sale/sale_details" %>
<%= render :partial => "/web/token_sale/bonus_details" %>
<%= render :partial => "/web/token_sale/token_allocation" %>
<%= render :partial => "/web/token_sale/reserve_your_branded_token" %>
<%= render :partial => "/web/token_sale/token_key_dates" %>
<%= render :partial => "/web/token_sale/faqs" %>
<%= render partial: '/shared/web/common/press_companies', locals: {title: 'In the News'} %>
<%= render :partial => "/web/token_sale/early_backers" %>
<%= render :partial => "/shared/web/common/social" %>
