<table class="countdown w-100" data-countdown="<%= timestamp %>">
  <tr>
    <td class="text-center">
      <span class="days element" style="<%=  @presenter_obj.page_data.sale_timer_gradient %>" >00</span>
      <span class="labels">Days</span>
    </td>
    <td class="text-center">
      <span class="hours element" style="<%=  @presenter_obj.page_data.sale_timer_gradient %>">00</span>
      <span class="labels">Hours</span>
    </td>
    <td class="text-center">
      <span class="minutes element" style="<%=  @presenter_obj.page_data.sale_timer_gradient %>">00</span>
      <span class="labels">Mins</span>
    </td>
    <td class="text-center">
      <span class="seconds element" style="<%=  @presenter_obj.page_data.sale_timer_gradient %>">00</span>
      <span class="labels">Secs</span>
    </td>
  </tr>
</table>