<style>
  footer div.footer-wrap a{color:<%= @presenter_obj.footer_link_color %>;border-bottom-color: <%= @presenter_obj.footer_link_color %>}
  footer div.footer-wrap a:hover{color:<%= @presenter_obj.footer_link_color %>;border-bottom-color: <%= @presenter_obj.footer_link_color %>}
</style>
<footer>
  <div class="footer-wrap" style="width: 100%;position: absolute;font-size:14px;font-weight:
    normal;letter-spacing: normal;text-align:center;padding:20px;color:<%= @presenter_obj.footer_text_color %>;
    background:<%= @presenter_obj.footer_background_color %>;">
    <%= raw @presenter_obj.footer_text %>
  </div>
</footer>