<div class="text-center">
  <a class="border-none" href="<%= @presenter_obj.header_logo['href'] %>" title="<%= @presenter_obj.header_logo['title'] %>">
    <img src="<%= @presenter_obj.header_logo['src'] %>" width="<%= @presenter_obj.header_logo['width'] %>" style="max-width: 90%" alt="<%= @presenter_obj.header_logo['alt'] %>"/>
  </a>
</div>

