<table class="countdown" data-countdown="<%= timestamp %>">
  <tr>
    <td>
      <span class="days element" style="<%=  @presenter_obj.page_data['timer_element_gradient_style'] %>" >00</span>
      <span class="labels">Days</span>
    </td>
    <td>
      <span class="hours element" style="<%=  @presenter_obj.page_data['timer_element_gradient_style'] %>">00</span>
      <span class="labels">Hours</span>
    </td>
    <td>
      <span class="minutes element" style="<%=  @presenter_obj.page_data['timer_element_gradient_style'] %>">00</span>
      <span class="labels">Mins</span>
    </td>
    <td>
      <span class="seconds element" style="<%=  @presenter_obj.page_data['timer_element_gradient_style'] %>">00</span>
      <span class="labels">Secs</span>
    </td>
  </tr>
</table>