<nav class="navbar navbar-expand-lg navbar-simpletoken py-md-4">
  <div class="container-fluid p-0">
    <!-- Brand and toggle get grouped for better mobile display -->
    <a class="" href="#">Navbar</a>
    <button style="border: 1px solid red;height: 30px;width: 30px" class="navbar-toggler navbar-toggler-right ml-auto" type="button" data-target="#navbarToggler" data-toggle="collapse" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
<% if GlobalConstant::TokenSaleUserState.profile_page_allowed_states.include?(user["user_token_sale_state"]) %>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav mr-auto">
        <li><a <% if params[:action] == 'dashboard_home' %> class="selected-nav" href="javascript:void(0)" <% else %> href="<%= GlobalConstant::Base.simple_token_web['sale_root_url'] %>/dashboard" title="Dashboard" <% end %> >Dashboard</a></li>
        <li><a <% if params[:action] == 'documents' %> class="selected-nav" href="javascript:void(0)" <% else %> href="<%= GlobalConstant::Base.simple_token_web['root_url'] %>/documents" title="Documents" target="_blank" <% end %> >Documents</a></li>
        <li><a <% if params[:action] == 'faq' %> class="selected-nav" href="javascript:void(0)" <% else %> href="<%= GlobalConstant::Base.simple_token_web['root_url'] %>/faq/" title="FAQ" target="_blank" <% end %> >FAQ</a></li>
      </ul>
      <ul class="my-2 my-lg-0 navbar-nav">
        <li><%= user["email"] %></li>
        <li><a href="/logout" title="Log out">Log out</a></li>
      </ul>
    </div>

    <% else %>

    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="nav navbar-nav navbar-right">
        <li><span><%= user["email"] %></span></li>
        <li><a href="/logout" title="Log out">Log out</a></li>
      </ul>
    </div>
  <% end %>

  </div>
</nav>