<%
   st_milestones_mn = [100, 120, 180, 240]

   last_milestone_to_show_st_value = @presenter_obj.last_milestone_to_show_st_value
   hard_cap_milestone_to_show = @presenter_obj.power_milestone_achieved?

   factor = hard_cap_milestone_to_show ? (100.00/last_milestone_to_show_st_value) : (90.00/last_milestone_to_show_st_value)

   progressbar_milestones_actual_values = []

   if @presenter_obj.target_milestone_achieved?
     progressbar_milestones_actual_values << GlobalConstant::StTokenSale.target_st_tokens_milestone
   end

   if @presenter_obj.kicker_milestone_achieved?
     progressbar_milestones_actual_values << GlobalConstant::StTokenSale.kicker_st_tokens_milestone
   end

   if @presenter_obj.power_milestone_achieved?
     progressbar_milestones_actual_values << GlobalConstant::StTokenSale.power_st_tokens_milestone
   end

   progressbar_milestones_actual_values << last_milestone_to_show_st_value

   progressbar_milestones = []

   progressbar_milestones_actual_values.each do |val|
     progressbar_milestones << (val * factor).round(2)
   end

   percent_complete = (@presenter_obj.total_st_token_sold * factor).round(2)


   # progressbar_milestones = [20.83, 41.6, 50, 75, 100]

%>

<%= progressbar_milestones %>

<div class="timeline-title" <%= @presenter_obj.target_milestone_achieved? || !@presenter_obj.soft_cap_milestone_achieved? ? 'hidden' : '' %> >
  <%= @presenter_obj.target_percent_achieved %>% of Target Achieved
</div>




<div class="container-timeline">
  <div class="progress">

    <div class="progress-bar pb-2" role="progressbar" style="width: <%=progressbar_milestones[0]%>%">
      <div class="pb-inner <%= @presenter_obj.class_of_progress_bar('target') %>" style="width: <%= @presenter_obj.width_of_progress_bar('target') %>%"></div>
    </div>


    <% if @presenter_obj.target_milestone_achieved? %>
        <div class="progress-bar pb-3" role="progressbar" style="width: <%=progressbar_milestones[1]-progressbar_milestones[0]%>%">
          <div class="pb-inner <%= @presenter_obj.class_of_progress_bar('kicker') %>" style="width: <%= @presenter_obj.width_of_progress_bar('kicker') %>%"></div>
        </div>
    <% end %>

    <% if @presenter_obj.kicker_milestone_achieved? %>
        <div class="progress-bar pb-4" role="progressbar" style="width: <%=progressbar_milestones[2]-progressbar_milestones[1]%>%">
          <div class="pb-inner <%= @presenter_obj.class_of_progress_bar('power') %>" style="width: <%= @presenter_obj.width_of_progress_bar('power') %>%"></div>
        </div>
    <% end %>


    <% if @presenter_obj.power_milestone_achieved? %>
        <div class="progress-bar pb-5" role="progressbar" style="width: <%=progressbar_milestones[3]-progressbar_milestones[2]%>%">
          <div class="pb-inner <%= @presenter_obj.class_of_progress_bar('hard_cap') %> " style="width: <%= @presenter_obj.width_of_progress_bar('hard_cap') %>%"></div>
        </div>
    <% end %>

  </div>


  <div class="milestones">
    <div class="milestone ms-current" style="left:calc(<%= percent_complete %>% - 75px)">
      <div class="info">
        <p>Kicker Reached</p>

        <p>25% Bonus Activated!</p>

        <p>130M ST</p>

        <p>30,100 ETH</p>
      </div>
      <div class="arrow-line"></div>
      <div class="arrow">&#9654;</div>
    </div>


    <div class="milestone ms-2 <%= @presenter_obj.class_of_milestone('target') %>" style="left:calc(<%=progressbar_milestones[0]%>% - 50px)">
      <div class="o-circle">
        <div class="circle-inner">ST Target Achieved</div>
      </div>
      <div class="st"><strong>100M</strong> ST</div>
      <div class="line"></div>
      <div class="point">
        <div class="point-inner"></div>
      </div>
      <div class="check">&#10004;</div>
      <div class="desc">
        <div class="title">Target</div>
        <div class="sub">Everyone gets</div>
        <div class="bonus">20% bonus</div>
      </div>
    </div>

    <% if @presenter_obj.target_milestone_achieved? %>
        <div class="milestone ms-3 <%= @presenter_obj.class_of_milestone('kicker') %>" style="left:calc(<%=progressbar_milestones[1]%>% - 50px)">
          <div class="o-circle">
            <div class="circle-inner">ST Kicker Achieved</div>
          </div>
          <div class="st"><strong>120M</strong> ST</div>
          <div class="line"></div>
          <div class="point">
            <div class="point-inner"></div>
          </div>
          <div class="check">&#10004;</div>
          <div class="desc">
            <div class="title">Kicker</div>
            <div class="sub">Everyone gets</div>
            <div class="bonus">25% bonus</div>
          </div>
        </div>
    <% end %>

    <% if @presenter_obj.kicker_milestone_achieved? %>
        <div class="milestone ms-4 <%= @presenter_obj.class_of_milestone('power') %>" style="left:calc(<%=progressbar_milestones[2]%>% - 50px)">
          <div class="o-circle">
            <div class="circle-inner">ST Power Achieved</div>
          </div>
          <div class="st"><strong>180M</strong> ST</div>
          <div class="line"></div>
          <div class="point">
            <div class="point-inner"></div>
          </div>
          <div class="check">&#10004;</div>
          <div class="desc">
            <div class="title">Power</div>
            <div class="sub">Everyone gets</div>
            <div class="bonus">30% bonus</div>
          </div>
        </div>
    <% end %>

    <% if @presenter_obj.power_milestone_achieved? %>
        <div class="milestone ms-5 <%= @presenter_obj.class_of_milestone('hard_cap') %>" style="left:calc(<%=progressbar_milestones[3]%>% - 50px)">
          <div class="o-circle">
            <div class="circle-inner">Token Sale Ends</div>
          </div>
          <div class="st"><strong>240M</strong> ST</div>
          <div class="line"></div>
          <div class="point">
            <div class="point-inner"></div>
          </div>
          <div class="check">&#10004;</div>
        </div>
    <% end %>

  </div>
</div>

