<%
   total_st_token_sold =  @presenter_obj.total_st_token_sold;
   total_st_token_sold = 60000000;
   current_progress = ( total_st_token_sold * 100)/(100000000);
   current_progress = current_progress.round(2)
   current_progress_horz = [87,current_progress].min;
   current_progress_vert = [90,current_progress].min;
   progressbar_milestones = [50, 100]

   current_display_value = current_progress.to_s;
   current_eth_display_value = @presenter_obj.formatted_total_eth_raised.to_s + " ETH";

%>

<div class="timeline-title" <%= @presenter_obj.target_milestone_achieved? || !@presenter_obj.soft_cap_milestone_achieved? ? 'hidden' : '' %> >
    <%= @presenter_obj.target_percent_achieved %>% of Target Achieved
</div>

<div class="container-timeline">
  <div class="progress">
    <div class="progress-bar pb-1" role="progressbar" style="width: <%=progressbar_milestones[0]%>%">
      <div class="pb-inner <%= @presenter_obj.class_of_progress_bar('soft_cap') %>" style="width: <%= @presenter_obj.width_of_progress_bar('soft_cap') %>%"></div>
    </div>
    <div class="progress-bar pb-2" role="progressbar" style="width: <%=progressbar_milestones[1]-progressbar_milestones[0]%>%">
      <div class="pb-inner <%= @presenter_obj.class_of_progress_bar('target') %>" style="width: <%= @presenter_obj.width_of_progress_bar('target') %>%"></div>
    </div>
  </div>

  <div class="milestones">
    <div class="milestone ms-1 <%= @presenter_obj.class_of_milestone('soft_cap') %>" style="left:calc(<%=current_progress_horz%>% - 50px)">
      <div class="st"><strong><%=current_display_value%> M</strong> ST</div>
      <div class="line"></div>
      <div class="point">
        <div class="point-inner"></div>
      </div>
      <div class="check">&#10004;</div>
      <div class="desc">
        <div class="title"><%= current_eth_display_value %></div>
        <div class="sub"></div>
      </div>
    </div>
    <div class="milestone ms-2 <%= @presenter_obj.class_of_milestone('target') %>" style="left:calc(<%=progressbar_milestones[1]%>% - 50px)">
      <div class="o-circle" style="display: none;">
        <div class="circle-inner">ST Target Achieved</div>
      </div>
      <div class="st"><strong>100M</strong> ST</div>
      <div class="line"></div>
      <div class="point">
        <div class="point-inner"></div>
      </div>
      <div class="check">&#10004;</div>
      <div class="desc">
        <div class="title">Target</div>
        <div class="sub">Everyone gets</div>
        <div class="bonus">20% bonus</div>
      </div>
    </div>
  </div>
</div>

<div class="container-timeline vertical">
  <div class="progress">
    <div class="progress-bar pb-1" role="progressbar" style="height: <%=progressbar_milestones[0]%>%">
      <div class="pb-inner <%= @presenter_obj.class_of_progress_bar('soft_cap') %>" style="height: <%= @presenter_obj.width_of_progress_bar('soft_cap') %>%"></div>
    </div>
    <div class="progress-bar pb-2" role="progressbar" style="height: <%=progressbar_milestones[1]-progressbar_milestones[0]%>%">
      <div class="pb-inner <%= @presenter_obj.class_of_progress_bar('target') %>" style="height: <%= @presenter_obj.width_of_progress_bar('target') %>%"></div>
    </div>
  </div>
  <div class="milestones">
    <div class="milestone ms-1 <%= @presenter_obj.class_of_milestone('soft_cap') %>" style="top:calc(<%= current_progress_vert %>% - 12px)">
      <div class="st"><strong><%=current_display_value%>M</strong> ST</div>
      <div class="line"></div>
      <div class="point">
        <div class="point-inner"></div>
      </div>
      <div class="check">&#10004;</div>
      <div class="desc">
        <div class="title"><%= current_eth_display_value %></div>
        <div class="sub"></div>
      </div>
    </div>
    <div class="milestone ms-2 <%= @presenter_obj.class_of_milestone('target') %>" style="top:calc(<%=progressbar_milestones[1]%>% - 12.5px)">
      <div class="st"><strong>100M</strong> ST</div>
      <div class="line"></div>
      <div class="point">
        <div class="point-inner"></div>
      </div>
      <div class="check">&#10004;</div>
      <div class="desc">
        <div class="title">Target</div>
        <div class="sub">Everyone gets</div>
        <div class="bonus">20% bonus</div>
      </div>
    </div>
  </div>
</div>

<script type="text/unknown">
  <%= raw progressbar_milestones.to_json %>

</script>
