<% accordion_config = accordion_config('registration') %>

<form  id="configurator-form" method="POST" action="" data-ost-formhelper>

  <div class="accordion shown" role="tablist">
    <div class="accordion-content-wrapper mb-4 pt-4" role="tablist" data-accordion-content="<%= accordion_config[:registration] %>"></div>
  </div>

</form>


<% content_for :javascript do %>
  <script type="text/javascript">
    <% entity_type = GlobalConstant::TemplateType.registration_template_type %>
    $(function () {
      ost.registerConfigurator.init({
        'configuratorGetApi' : "<%= api_get_url(entity_type) %>",
        'publishApi': "<%= api_publish_url(entity_type) %>",
        'resetApi': "<%= api_reset_url(entity_type) %>",
        'iframeUrl': "<%= iframe_url(entity_type) %>"
      });
    });
  </script>
<%end%>