<div style="position: absolute;width: 100%;z-index: 1">
  <%= render :partial => "/shared/web/common/loggedin_header", locals: {user: user} %>
</div>
<div class="container sign-up-form">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/logo/logo-with-tagline-mobile.png" width="211"/>
      </div>
      <%=
          unless is_update
            render partial: '/shared/web/common/steps',
                   locals: {
                           classes: {
                                   step_3: 'active',
                           }
                   }
          end
      %>
      <div class="simple-token-form">
        <h1 class="text-center form-header">Reserve your branded token name</h1>

        <form class="user-form" method="POST" action="/api/user/bt-submit" id="userBtForm">
          <div class="form-group">
            <label for="token_name">token name</label>
            <input type="text" name="bt_name" id="token_name" class="form-control" autofocus tabindex="1" value="<%= user['bt_name'] %>" autocomplete="off">
            <div class="error" data-for="bt_name"></div>
          </div>
          <div class="form-instructions text-center" style="max-width: 350px;font-size: 14px;padding: 10px 0">All name reservations are
            subject to approval from the OpenST Foundation and Trademark rights. For more details refer to
            <a href="https://drive.google.com/file/d/0B1E_xJPbELBKeU9pUk5uSnNqWFU/view" title="Terms and Conditions" target="_blank">Terms and Conditions</a>.
          </div>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          <%= hidden_field_tag GlobalConstant::Base.page_loaded_at_key, GlobalConstant::Base.current_time -%>
          <div class="user-form-footer login-page-footer">
            <button type="" id="btSubmit" class="btn-common btn-gold upload-image-btn" style="margin-top: 20px" title="<%= is_update ? 'update' : 'done' %>" tabindex="2"><%= is_update ? 'update' : 'done' %></button>
            <% if is_update %>
            <a href="/dashboard" class="btn-common btn-grey upload-image-btn" title="back" tabindex="3" style="margin-top: 20px">back</a>
            <% else %>
            <button id="btSkip" class="btn-common btn-grey upload-image-btn done-btn" title="skip" tabindex="3" style="margin-top: 20px">skip</button>
            <% end %>
          </div>
          <div class="col-sm-12" >
            <div class="error" style="text-align: center;" data-for="general_error"></div>
          </div>
        </form>

      </div>

    </div>
  </div>
</div>

<% content_for :end_js do %>
    <script type="text/javascript">
        $(document).ready(function () {
            simpletoken.home.bt.init({
                redirect_location: '<%= is_update ? '/dashboard' : '/verification-link' %>'
            });
        });
    </script>
<% end %>