<div style="position: absolute;width: 100%">
  <%= render :partial => "/shared/web/common/loggedin_header" %>
</div>
<div class="container sign-up-form">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/logo/logo-with-tagline-mobile.png" width="211"/>
      </div>
      <%=
          unless is_update
            render partial: '/shared/web/common/steps',
                   locals: {
                           classes: {
                                   step_3: 'active',
                           }
                   }
          end
      %>
      <div class="simple-token-form">
        <h1 class="text-center form-header">Enter a name for your token. If it’s available, <br/>we’ll reserve it for
          you.</h1>

        <form class="user-form" method="POST" action="/api/user/bt-submit" id="userBtForm">
          <div class="form-group">
            <label for="token_name">token name</label>
            <input type="text" name="bt_name" id="token_name" class="form-control" autofocus tabindex="1">
          </div>
          <div class="form-instructions text-center" style="max-width: 350px;font-size: 14px">All name reservations are
            subject to approval from the OpenST Foundation and Trademark rights. For more details
            <a href="">click here</a> for <a href="">terms and conditions</a> of name reservations.
          </div>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          <div class="user-form-footer" style="margin-top: 20px">
            <% if is_update %>
                <a href="/dashboard" class="btn-common btn-grey upload-image-btn" title="back" tabindex="5">back</a>
            <% else %>
                <a href="javascript:void(0)" id="btSkip" class="btn-common btn-grey upload-image-btn" title="skip" tabindex="5">skip</a>
            <% end %>
            <a href="javascript:void(0)" id="btSubmit" class="btn-common btn-gold upload-image-btn" title="<%= is_update ? 'update' : 'done' %>" tabindex="6"><%= is_update ? 'update' : 'done' %></a>
          </div>
        </form>

      </div>

    </div>
  </div>
</div>
<%= render :partial => "/shared/web/common/footer" %>

<% content_for :end_js do %>
    <script type="text/javascript">
        $(document).ready(function () {
            simpletoken.home.bt.init({
                redirect_location: '<%= is_update ? '/dashboard' : '/verification-link' %>'
            });
        });
    </script>
<% end %>