<%= render :partial => "/shared/web/common/loggedin_header", locals: {user: user} %>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-5 mx-auto">
      <div class="simple-token-form text-center">
        <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/logo/logo-with-tagline-mobile.png" width="211"/>
        <h2 class="my-4">Reserve your branded token name</h2>
        <p class="my-4">The OpenST protocol enables companies to launch their own branded tokens powered by ST. You can reserve a branded token name now for future use. This step is optional.</p>
        <form class="user-form" method="POST" action="/api/user/bt-submit" id="userBtForm">
          <div class="form-group">
            <label for="token_name">desired bt name</label>
            <input type="text" name="bt_name" id="token_name" class="form-control" autofocus tabindex="1" value="<%= user['bt_name'] %>" autocomplete="off">
            <div class="error" data-for="bt_name"></div>
          </div>
          <p class="mb-4">All name reservations are
            subject to approval from the OpenST Foundation and Trademark rights. For more details refer to
            <a href="https://drive.google.com/file/d/0B1E_xJPbELBKeU9pUk5uSnNqWFU/view" title="Terms and Conditions" target="_blank">Terms and Conditions</a>.
          </p>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          <%= hidden_field_tag GlobalConstant::Base.page_loaded_at_key, GlobalConstant::Base.current_time -%>
          <button id="btSubmit" class="btn btn-primary upload-image-btn mb-3 mr-md-3" title="<%= is_update ? 'update' : 'done' %>" tabindex="2"><%= is_update ? 'update' : 'done' %></button>
          <% if is_update %>
            <a href="/dashboard" class="btn btn-secondary upload-image-btn mb-3" title="back" tabindex="3">back</a>
          <% else %>
            <button id="btSkip" class=" btn btn-secondary upload-image-btn done-btn mb-3" title="skip" tabindex="3">skip</button>
          <% end %>
          <div class="error" style="text-align: center;" data-for="general_error"></div>
        </form>
      </div>
    </div>
  </div>
</div>

<% content_for :end_js do %>
    <script type="text/javascript">
        $(document).ready(function () {
            simpletoken.home.bt.init({
                redirect_location: '<%= is_update ? '/dashboard' : '/verification-link' %>'
            });
        });
    </script>
<% end %>