<%= render :partial => "/shared/web/common/loggedin_header", locals: {user: @user} %>
<div class="container" style="padding-bottom: 80px">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/logo/logo-with-tagline-mobile.png" width="211"/>
      </div>
      <%=
          unless is_update
            render partial: '/shared/web/common/steps',
                   locals: {
                           classes: {
                                   step_2: 'active',
                                   step_3: 'incomplete',
                                   connector_2: 'incomplete'
                           }
                   }
          end
      %>

      <div class="simple-token-form">
        <form class="simpletoken-form" action="/api/user/kyc-submit" method="POST" id="kycForm">
          <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
            <% if is_update %>
                <h1 class="text-center form-header" >Please update your KYC information to participate in the Token Sale.</h1>
                <div class="text-center form-sub-header" style="margin: 20px 0 30px;font-size: 16px">For More Details <a href="javascript:void(0)">Check This</a></div>
            <% else %>
                <h1 class="text-center form-header" style="margin-bottom: 30px">Complete the Registration by Submitting
                  Your KYC & Reserve Your Token Name</h1>
            <% end %>

            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label for="first_name">First name</label>
                  <input type="text" title="First name" class="form-control" name="first_name" value="" tabindex="1" autofocus="" autocomplete="off" required/>
                  <div class="error" data-for="first_name"></div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label for="last_name">Last name</label>
                  <input type="text" title="Last name" class="form-control" name="last_name" value="" tabindex="2" autocomplete="off" required/>
                  <div class="error" data-for="last_name"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label for="birthdate">Birth date</label>
                  <input type="text" title="Birth date" class="form-control" name="birthdate" data-week-start="1" data-format="dd/mm/yyyy" placeholder="dd/mm/yyyy" pattern="(0[1-9]|1[0-9]|2[0-9]|3[01])[- /.](0[1-9]|1[012])[- /.][0-9]{4}" tabindex="3" autocomplete="off" required/>
                  <div class="error" data-for="birthdate"></div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" title="Email" class="form-control" name="email" value="<%= user["email"] %>" tabindex="4" disabled/>
                  <div class="error"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label for="street_address">Street address</label>
                  <input type="text" title="Street address" class="form-control" name="street_address" value="" tabindex="5" autocomplete="off" required/>
                  <div class="error" data-for="street_address"></div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label for="">City</label>
                  <input type="text" title="City" class="form-control" name="city" value="" tabindex="6" autocomplete="off" required/>
                  <div class="error" data-for="city"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label for="state">State / region</label>
                  <input type="text" title="State / region" class="form-control" name="state" value="" tabindex="7" autocomplete="off" required/>
                  <div class="error" data-for="state"></div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="form-group st-selectpicker">
                  <label for="country">Country</label>
                  <select class="form-control selectpicker" title="Country" name="country" tabindex="8" required>
                    <% GlobalConstant::CountryNationality.countries.each do |country_name| %>
                        <option value="<%= country_name %>"><%= country_name.titleize %></option>
                    <% end %>
                  </select>
                  <div class="error" data-for="country"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label for="postal_code">Zip / postal code</label>
                  <input type="text" title="Zip / postal code" class="form-control" name="postal_code" value="" tabindex="9" autocomplete="off" required/>
                  <div class="error" data-for="postal_code"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label for="ethereum_address">Ethereum address</label>
                  <input type="text" title="Ethereum address" class="form-control" name="ethereum_address" pattern="(0x)?[0-9a-f]{40}" value="" tabindex="10" autocomplete="off" required/>
                  <div class="error" data-for="ethereum_address"></div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="form-instructions">
                  You will be able to participate in this Token Sale <br/>only by using this specific address. Learn
                  more <br/>about <a href="javascript:void(0)" title="Wallet Set Up Guide">Wallet Set Up Guide</a>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label for="estimated_participation_amount">Estimated participation amount ($)</label>
                  <input type="number" title="Estimated amount ($)" class="form-control" name="estimated_participation_amount" value="" tabindex="11" required/>
                  <div class="error" data-for="estimated_participation_amount"></div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="form-instructions">
                  Estimated amount in USD that you would like to <br/>invest in. For more details please check the <br/>
                  <a href="javascript:void(0)" title="Registration Guide">Registration Guide</a>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-xs-12 col-sm-6">

                <div class="form-group">
                  <label for="passport_number">Passport number</label>
                  <input type="text" title="Passport number" class="form-control" name="passport_number" value="" tabindex="12" required/>
                  <div class="error" data-for="passport_number"></div>
                </div>

                <div class="form-group st-selectpicker">
                  <label for="nationality">Nationality</label>
                  <select title="Nationality" class="form-control selectpicker" name="nationality" tabindex="13" required>
                    <% GlobalConstant::CountryNationality.nationalities.each do |nationality_name| %>
                        <option value="<%= nationality_name %>"><%= nationality_name.titleize %></option>
                    <% end %>
                  </select>
                  <div class="error" data-for="nationality"></div>
                </div>

              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-12">

                <div class="form-group">
                  <label for="passport_file_path">Passport scan</label>
                  <div class="file-name"></div>
                  <div>
                    <label class="upload-file btn-common btn-grey upload-image-btn">
                      <input type="file" title="Passport scan" name="passport_file_path" class="upload btn btn-orange" accept="image/*,application/pdf" tabindex="14" required/>
                      <span>choose file</span>
                    </label>
                    <span class="form-instructions thumbnail-upload-instructions">Please upload a high quality <br/>image. Image size: Min 200kb <br/>Formats : JPG / PNG / PDF</span>
                  </div>
                  <div class="error" data-for="passport_file_path"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-12">
                <div class="form-group">
                  <label for="selfie_file_path">Upload a selfie with your passport</label>
                  <div class="file-name"></div>
                  <div>
                    <label class="upload-file btn-common btn-grey upload-image-btn">
                      <input type="file" title="Selfie with your passport" name="selfie_file_path" class="upload btn btn-orange" accept="image/*,application/pdf" tabindex="15" required>
                      <span>choose file</span>
                    </label>
                    <span class="form-instructions thumbnail-upload-instructions">Please upload a high quality <br/>image. Image size: Min 200kb <br/>Formats : JPG / PNG / PDF</span>
                  </div>
                  <div class="error" data-for="selfie_file_path"></div>
                </div>
              </div>
            </div>

            <div class="row residence-proof" style="display:none">
              <div class="col-xs-12 col-sm-12">
                <div class="form-group">
                  <label for="residence_proof_file_path">Residence proof</label>
                  <div class="file-name"></div>
                  <div>
                    <label class="upload-file btn-common btn-grey upload-image-btn">
                      <input type="file" title="Residence proof" name="residence_proof_file_path" class="upload btn btn-orange" accept="image/*,application/pdf" tabindex="16" required/>
                      <span>choose file</span>
                    </label>
                    <span class="form-instructions thumbnail-upload-instructions">Please upload a high quality <br/>image. Image size: Min 400kb <br/>Formats : JPG / PNG / PDF</span>
                  </div>
                  <div class="error" data-for="residence_proof_file_path"></div>
                </div>
              </div>
            </div>


            <% unless is_update %>
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="g-recaptcha" data-sitekey="<%= GlobalConstant::Base.recaptcha['site_key'] %>" tabindex="17"></div>
                <div class="error" data-for="recaptcha"></div>
              </div>
            </div>
            <% end %>

            <div class="row">
              <div class="col-xs-12 col-sm-12">
                <div class="form-group">
                  <div>
                    <% if is_update %>
                        <a href="/dashboard" class="btn-common btn-grey upload-image-btn" title="back" tabindex="18" style="margin-right: 20px">Back</a>
                    <% end %>
                    <button id="kycSubmit" class="btn-common btn-gold upload-image-btn" title="submit" type="submit" tabindex="17">Submit</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="error" data-for="general_error"></div>

          </div>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
        </form>
        <div id="fileupload"></div>
        <input type="hidden" id="refresh-indicator" value="no">
      </div>
    </div>
  </div>
</div>

<% unless is_update %>
    <script src='https://www.google.com/recaptcha/api.js'></script>
<% end %>

<%= render :partial => "/shared/web/common/footer" %>

<%= render :partial => "/shared/web/modals/verify_modal" %>