<%= render :partial => "/shared/web/common/index_svg_sprite" %>
<%= render :partial => "/shared/web/common/navbar" %>
<div class="container-jumbotron-wrap">
  <%= render :partial => "/web/home/index/jumbotron" %>
  <div style="margin-top: 40px;"></div>
</div>
<%= render :partial => "/web/home/index/openst" %>
<%= render :partial => "/web/home/index/binance" %>
<div style="background-color: #f8fafa;">
  <%= render :partial => "/web/home/index/subscribe" %>
  <%= render :partial => "/web/home/index/core_team_members" %>
</div>
<%= render partial: '/shared/web/common/press', locals: {title: 'In the News'} %>
<%= render partial: '/shared/web/common/press_companies' %>
<div style="padding-top: 40px">
  <%= render :partial => "/shared/web/common/social" %>
</div>