<%= render :partial => "/shared/web/common/index_svg_sprite" %>
<%= render :partial => "/shared/web/common/navbar" %>
<%= render :partial => "/web/home/index/jumbotron" %>
<%= render partial: '/shared/web/common/press' %>
<%= render partial: '/shared/web/common/press_companies', locals: {title: 'In the News'} %>
<%#= render :partial => "/web/home/index/features" %>
<%#= render :partial => "/web/home/index/documents" %>
<% if GlobalConstant::StTokenSale.has_sale_ended? %>
    <%= render :partial => "/web/home/index/subscribe" %>
<% end %>
<div style="padding-top: 40px">
  <%= render :partial => "/shared/web/common/social" %>
</div>