<%= render :partial => "/shared/web/common/index_svg_sprite" %>
<%= render :partial => "/shared/web/common/navbar" %>
<div class="container-partners container-press">
  <%= render :partial => "/web/home/partners/jumbotron" %>
  <%= render :partial => "/shared/web/common/partners_updates", locals: {title: ''}  %>
</div>
<%= render :partial => "/web/home/partners/member_companies" %>
<%= render :partial => "/web/home/partners/contact_us" %>