<%= render :partial => "admin/shared/kyc_loggedin_header" %>
<% if false %>
<div class="container sign-up-form py-5">
  <div class="row">
    <div class="col-12">
      <div class="simple-token-form" id="activateAccountPassword">
        <h3 class="text-center mt-4 mb-2">Hi, Chad Paul Keller!</h3>
        <p class="text-center">Please select a password to activate your account</p>
        <form class="user-form col-12 col-md-6 col-lg-5 col-xl-5 mx-auto" method="POST" action="/api/admin/reset-password" id="activateAccountPasswordForm">
          <div class="form-group">
            <label class="form-label" for="password">password</label>

            <div class="position-relative" >
              <input type="password" name="password" id="password" value="" class="form-control" tabindex="1" autocomplete="off"/>
              <span class="input-group-addon showhide-addon" id="showhide-password"><span class="show-password-eye-icon"></span></span>
            </div>
            <div class="zxcvbn-group"></div>
            <div class="error" data-for="password"></div>
          </div>
          <input hidden name="r_t" value="<%= params[:r_t] %>"/>

          <div class="form-group">
            <label class="form-label" for="confirm_password">confirm password</label>
            <input type="password" name="confirm_password" id="confirm_password" value="" class="form-control" tabindex="2" autocomplete="off"/>
            <div class="error" data-for="confirm_password"></div>
          </div>
          <div class="user-form-footer form-group text-center">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
            <button type="submit" class="btn btn-primary" id="resetBtn" title="Set Password" tabindex="3">set password</button>
            <div class="error" data-for="general_error"></div>
          </div>
        </form>
      </div>

      <div id="activateAccountPasswordSuccess" class="display-none">
        <%= render :partial => "/admin/home/activate_account_password_success" ,locals: {display_text: 'Your account is activated Successfully', is_error: false}%>
      </div>

    </div>
  </div>
</div>
<% else %>
  <div class="container sign-up-form py-5">
    <div class="row">
      <div class="col-12">
          <%= render :partial => "/admin/home/activate_account_password_success" ,locals: {display_text: 'invalid', is_error: true} %>
      </div>
    </div>
  </div>
<% end %>