<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" type="text/css" media="all"/>

<%
  user_detail = @service_data['user_detail'] || {}
  case_detail = @service_data['case_detail'] || {}
  is_case_closed = @service_data['is_case_closed'] || false
  next_kyc_id = @service_data['meta']['next_kyc_id']
  previous_kyc_id = @service_data['meta']['previous_kyc_id']

  admin_kyc_status = case_detail['admin_status']
  cynopsis_status = case_detail['cynopsis_status']
  whitelist_status = case_detail['whitelist_status']
  is_re_submitted = case_detail['is_re_submitted']
  is_duplicate = case_detail['is_duplicate']


  logs_table_config = {
      ajax: {
          url: "/admin/kyc-action-logs?case_id=#{@case_id}",
          type: "GET"
      },
      pageLength: 10,
      bSort: false,
      bFilter: true,
      bLengthChange: false,
      processing: true,
      searching: false,
      serverSide: true,
      stateSave: false,
      language: {
          sInfo: "_START_ - _END_ of _TOTAL_ entries",
          infoFiltered: "",
          infoEmpty: "",
          emptyTable: "No data available for the given filters",
          paginate: {
              next: "<span> Next </span>",
              previous: "<span> Previous </span>"
          }
      },
      pagingType: "simple_numbers",
      columns: []
  }

  pass_prev_params = {}
  pass_prev_params[:filters] = @dash_filters if @dash_filters.present?
  pass_prev_params[:sortings] = @dash_sortings if @dash_filters.present?
  pass_prev_params[:display_start] = @display_start if @display_start.present?

  dash_filters_display = []
  dashboard = 'dashboard'
  if @dash_filters['admin_status'].present?
    dash_filters_display << "Admin: #{GlobalConstant::UserKycDetail.admin_kyc_statuses[@dash_filters['admin_status']] || GlobalConstant::UserKycDetail.all_admin_status}"
  end

  if @dash_filters['cynopsis_status']
    dash_filters_display << "Cynopsis: #{GlobalConstant::UserKycDetail.cynopsis_kyc_statuses[@dash_filters['cynopsis_status']] || GlobalConstant::UserKycDetail.all_cynopsis_status}"
  end

  if @dash_filters['whitelist_status']
    dashboard = 'whitelist-dashboard'
    dash_filters_display << "Whitelist: #{GlobalConstant::UserKycDetail.whitelist_kyc_statuses[@dash_filters['whitelist_status']] || GlobalConstant::UserKycDetail.all_whitelist_status}"
  end

%>

<% if previous_kyc_id.present? %>
    <a class="fixedPrevKYC" href="/admin/get-kyc-details/?case_id=<%= previous_kyc_id %>&<%= pass_prev_params.to_query %>">
      < Prev
    </a>
<% end %>
<% if next_kyc_id.present? %>
    <a class="fixedNextKYC" href="/admin/get-kyc-details/?case_id=<%= next_kyc_id %>&<%= pass_prev_params.to_query %>">
      Next >
    </a>
<% end %>

<div class="raw">
  <div id="kyc-case-details" class="container-fluid">
    <div class="row">
      <div class="col-sm-12 kyc-header">
        <div style="margin:20px 0 0 0;">
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <div class="row">
                <div class="col-sm-6">
                  <span class="kyc-case-detail-header">
                    KYC Check Dashboard
                  </span>
                  <span class="kyc-breadcrumb">
                    <a href="/admin/<%= dashboard %>?<%= pass_prev_params.to_query %>"> KYC Dashboard </a> > KYC Details
                  </span>
                  <span class="kyc-breadcrumb">
                    <span>Filters ( <%= dash_filters_display.join(' - ') %> )
                    </span>
                  </span>
                </div>
                <div class="col-sm-6" style="text-align: right;">
                  <span></span>
                  <a href="/admin/logout" title="Log out" class="logOut">Log out</a>
                </div>
                <div class="col-sm-12">
                  <div class="error" data-for="general_error"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4">
            <div class="case-status-box first">
              <div>
                <span class="status-label"> Status ST : </span>
                <span class="status-icon <%= GlobalConstant::UserKycDetail.admin_kyc_status_class[admin_kyc_status] %>"> &nbsp; </span>
                <span class="status-value">
                  <%= GlobalConstant::UserKycDetail.admin_kyc_statuses[admin_kyc_status] || ' -- ' %>
                </span>
              </div>
              <div>
                <span class="status-label"> Status CY : </span>
                <span class="status-icon <%= GlobalConstant::UserKycDetail.cynopsis_kyc_status_class[cynopsis_status] %>"> &nbsp; </span>
                <span class="status-value">
                  <%= GlobalConstant::UserKycDetail.cynopsis_kyc_statuses[cynopsis_status] || ' -- ' %>
                </span>
              </div>
              <div>
                <% if whitelist_status.present? %>
                    <span class="status-label"> Status Whitelist : </span>
                    <span class="status-icon <%= GlobalConstant::UserKycDetail.whitelist_kyc_status_class[whitelist_status] %>"> &nbsp; </span>
                    <span class="status-value">
                      <%= GlobalConstant::UserKycDetail.whitelist_kyc_statuses[whitelist_status] || ' -- ' %>
                    </span>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="case-status-box middle">
              <div>
                <span class="status-label"> Resubmitted : </span>
                <span class="<%= is_re_submitted==1 ? 'bigRedDot' : 'bigGreenDot' %>"> &nbsp; </span>
                <span class="status-value">
                  <%= is_re_submitted.to_i==1 ? 'Yes' : 'No' %>
                </span>
              </div>
              <div id="duplicate-kyc" data-case-id="<%= @case_id %>">
                <span class="status-label"> Duplicate : </span>
                <span class="<%= is_duplicate==1 ? 'bigRedDot' : 'bigGreenDot' %>"> &nbsp; </span>
                <span class="status-value">
                  <%= is_duplicate.to_i==1 ? 'Yes' : 'No' %>
                </span>
                <div class="duplicate-kyc-data">
                  <table id="dupDataTable">
                    <thead>
                    <tr>
                      <th>Case Id</th>
                      <th>Admin Status</th>
                      <th>Cynopsis Status</th>
                      <th>Current Matches</th>
                      <th>Previous Matches</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                  </table>
                </div>
              </div>
              <div>
                <span class="status-label"> Reg IP/Country : </span>
                <% if user_detail['geoip_data'].present? %>
                    <span class="status-value">
                      <%= user_detail['geoip_data']['ip_address'] %> / <%= user_detail['geoip_data']['country'] %>
                    </span>
                <% end %>
              </div>

            </div>
          </div>
          <div class="col-sm-4">
            <div class="case-status-box last">
              <div>
                <span class="status-label"> Agent : </span>
                <span class="status-value">
                  <%= case_detail['last_acted_by'] %>
                </span>
              </div>
              <div>
                <span id="issueCommunicated" class="status-label"> <%= GlobalConstant::UserKycDetail.admin_action_type[case_detail['last_issue_email_sent']] %> &nbsp; </span>
              </div>
              <div>
                <span id="openLogs" class="status-label" style="text-decoration: underline; cursor: pointer;"> View Logs </span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="case-detail-box">
              <div class="case-detail-col1">
                <span class="detail-label margin-top-0">First Name</span>
                <span class="detail-value"><%= user_detail['first_name'] %></span>
                <span class="detail-label">Birth Date</span>
                <span class="detail-value"><%= Time.parse(user_detail['birthdate']).strftime("%d/%m/%Y") %></span>
                <span class="detail-label">Passport Number</span>
                <span class="detail-value"><%= user_detail['passport_number'] %></span>
              </div>
              <div class="case-detail-col2">
                <span class="detail-label margin-top-0">Last Name</span>
                <span class="detail-value"><%= user_detail['last_name'] %></span>
                <span class="detail-label">Residence Country</span>
                <span class="detail-value"><%= user_detail['country'] %></span>
                <span class="detail-label">Nationality</span>
                <span class="detail-value"><%= user_detail['nationality'] %></span>
              </div>
              <div class="case-detail-col3">
                <span class="detail-label margin-top-0">Email Address</span>
                <span class="detail-value"><%= user_detail['email'] %></span>
                <span class="detail-label">Street Address</span>
                <span class="detail-value"><%= user_detail['street_address'] %></span>
                <span class="detail-label">Zip Code</span>
                <span class="detail-value"><%= user_detail['postal_code'] %></span>
              </div>
              <div class="case-detail-col4">
                <span class="detail-label margin-top-0">Date & Time</span>
                <span class="detail-value"><%= user_detail['submitted_at'] %></span>
                <span class="detail-label">City</span>
                <span class="detail-value"><%= user_detail['city'] %></span>
                <span class="detail-label">State/ Region</span>
                <span class="detail-value"><%= user_detail['state'] %></span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">

          <% if user_detail['passport_file_url'].present? %>
              <div class="col-sm-6 kyc-img-block">
                <div>
                  <span class="img-label">Passport Image</span>
                  <span class="fullScreenIcon"> Click to Expand </span>
                </div>
                <div class="kyc-img-container">
                  <div class="kyc-image">
                    <% if user_detail['passport_file_url'].match('\/i\/') %>
                        <a href="<%= user_detail['passport_file_url'] %>" target="_blank"><img src="<%= user_detail['passport_file_url'] %>"></a>
                    <% else %>
                        <iframe src="<%= user_detail['passport_file_url'] %>" frameborder="0"></iframe>
                    <% end %>
                  </div>
                </div>
              </div>
          <% end %>

          <% if user_detail['selfie_file_url'].present? %>
              <div class="col-sm-6 kyc-img-block">
                <div>
                  <span class="img-label">Selfie Image</span>
                  <span class="fullScreenIcon"> Click to Expand </span>
                </div>
                <div class="kyc-img-container">
                  <div class="kyc-image">
                    <% if user_detail['selfie_file_url'].match('\/i\/') %>
                        <a href="<%= user_detail['selfie_file_url'] %>" target="_blank"><img src="<%= user_detail['selfie_file_url'] %>"></a>
                    <% else %>
                        <iframe src="<%= user_detail['selfie_file_url'] %>" frameborder="0"></iframe>
                    <% end %>
                  </div>
                </div>
              </div>
          <% end %>

          <% if user_detail['residence_proof_file_url'].present? %>
              <div class="col-sm-6 kyc-img-block">
                <div>
                  <span class="img-label">Proof of Residence</span>
                  <span class="fullScreenIcon"> Click to Expand </span>
                </div>
                <span class="kyc-img-container">
                  <div class="kyc-image">
                    <% if user_detail['residence_proof_file_url'].match('\/i\/') %>
                        <a href="<%= user_detail['residence_proof_file_url'] %>" target="_blank"><img src="<%= user_detail['residence_proof_file_url'] %>"></a>
                    <% else %>
                        <iframe src="<%= user_detail['residence_proof_file_url'] %>" frameborder="0"></iframe>
                    <% end %>
                  </div>
                </span>
              </div>
          <% end %>

        </div>

      </div>
    </div>
  </div>
</div>

<div class="sticky-action-buttons-container <%= 'case-closed' if is_case_closed %>">

  <%= is_case_closed ? 'Case Closed' : '' %>
  <div class="error" data-for="action_error" style="display: none;"></div>
  <form id="caseActionForm" method="POST">
    <input type="hidden" name="case_id" value="<%= @case_id %>">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
    <span class="sticky-button <%= 'button-active' unless is_case_closed %> red" data-action-url="/api/admin/kyc/deny-kyc">Deny</span>
    <span class="sticky-button <%= 'button-active' unless is_case_closed %>" data-action-url="/api/admin/kyc/data-mismatch">Data Mismatch</span>
    <span class="sticky-button <%= 'button-active' unless is_case_closed %>" data-action-url="/api/admin/kyc/passport-issue">Passport Issue</span>
    <span class="sticky-button <%= 'button-active' unless is_case_closed %>" data-action-url="/api/admin/kyc/selfie-img-issue">Selfie Image Issue</span>
    <% if user_detail['residence_proof_file_url'].present? %>
        <span class="sticky-button <%= 'button-active' unless is_case_closed %>" data-action-url="/api/admin/kyc/residency-img-issue">Residency Image Issue</span>
    <% end %>
    <span class="sticky-button <%= 'button-active' unless is_case_closed %> green" data-action-url="/api/admin/kyc/qualify">Qualify</span>
  </form>

</div>

<div style="height: 85px;"></div>

<div id="kycDetailsModal" class="modal fade full-page-modal" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <button type="button" class="close" data-dismiss="modal" style="opacity: 1;font-size: 36px;position: absolute;right: 12px;top: 0px;z-index: 1">
        <span aria-hidden="true" class="modal-cross-icon" title="close">X</span>
      </button>
      <div class="modal-body">
      </div>

    </div>
  </div>
</div>

<div id="kycLogsModal" class="modal fade full-page-modal" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" style="opacity: 1;font-size: 36px;position: absolute;right: 12px;top: 0px;z-index: 1">
        <span aria-hidden="true" class="modal-cross-icon" title="close">X</span>
      </button>
      <div class="modal-body">
        <div class="row" style="background: #fff; padding: 10px 0;">
          <div class="col-sm-12">
            <table id="kycLogsTable" class="custom-table-grid table display" cellspacing="0" width="100%">
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="kycCaseActionModal" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="/api/admin/kyc/data-mismatch" method="POST" id="modal_form">
          <input type="hidden" name="case_id" value="<%= @case_id %>">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Mismatch Reason</h4>
          </div>
          <div class="modal-body">
              <div class="error" data-for="action_error"></div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="email_temp_vars[first_name]" value="1">
                  First Name
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="email_temp_vars[last_name]" value="1">
                  Last Name
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="email_temp_vars[birthdate]" value="1">
                  Date of Birth
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="email_temp_vars[nationality]" value="1">
                  Nationality
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="email_temp_vars[passport_number]" value="1">
                  Passport Number
                </label>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="submit_modal_form">Send Mail</button>
          </div>
      </form>
    </div>
  </div>
</div>


<% content_for :javascript do %>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script text="text/javascript">
      $(document).ready(function () {
        var kycDetailsObj = simpletokenadmin.home.kycDetails.init({
          logs_table_config: <%= raw logs_table_config.to_json %>,
          admin_kyc_statuses: <%= raw GlobalConstant::UserKycDetail.admin_kyc_statuses.to_json %>,
          cynopsis_kyc_statuses: <%= raw GlobalConstant::UserKycDetail.cynopsis_kyc_statuses.to_json %>
        });

        simpletokenadmin.home.kycDetails.getDuplicateKycs(<%= @case_id %>);

      });
    </script>
<% end %>