<%= render :partial => "/shared/web/common/login_header" %>
<div class="text-center">
  <img src="//d3attjoi5jlede.cloudfront.net/simpletoken/logo/logo-with-tagline-mobile.png" width="211"/>
</div>
<%= render :partial => "/web/user/kyc_status" %>
<%= render :partial => "/web/user/ethereum_deposit_address" %>
<%= render :partial => "/web/user/invested_in_the_token" %>
<%= render :partial => "/web/user/token_sale_ends" %>
<%= render :partial => "/web/user/token_sale_pause" %>
<%= render :partial => "/web/token_sale/telegram" %>
<%= render :partial => "/shared/web/common/footer" %>