<% content_for :gradient_class, "bg-gradient position-relative" %>
<div class="container-fluid sign-up-form py-5">
  <div class="row">
    <div class="col-12">
      <%= render :partial => "/shared/web/common/kycaas_logo_header" %>
      <div class="simple-token-form">
        <h4 class="text-center mt-4">Login to <%= @presenter_obj.account_name %></h4>
        <form class="user-form" method="POST" action="/api/user/login" id="userLoginForm">
          <div class="form-group">
            <label class="form-label" for="email">email address</label>
            <input type="text" name="email" id="email" value="" class="form-control" autofocus tabindex="1" autocomplete="off">

            <div class="invalid-feedback" data-forname="email"></div>
          </div>
          <div class="form-group">
            <label class="form-label" for="password">password</label>

            <div class="position-relative">
              <input type="password" name="password" id="password" value="" class="form-control" tabindex="2" autocomplete="off">
              <span class="input-group-addon showhide-addon" id="showhide-password"><span class="show-password-eye-icon"></span></span>
            </div>
            <a href="/reset-password" title="Forgot password?" class="forgot-password display-4" tabindex="3">Forgot password?</a>

            <div class="invalid-feedback" data-forname="password"></div>
          </div>
          <div class="form-group form-recapcha">
            <div class="g-recaptcha form-recapcha-wrap" data-sitekey="<%= GlobalConstant::Base.recaptcha['site_key'] %>" tabindex="3"></div>
            <div class="error text-center" data-for="recaptcha"></div>
          </div>
          <div class="user-form-footer text-center form-group">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
            <%= hidden_field_tag GlobalConstant::Base.page_loaded_at_key, GlobalConstant::Base.current_time -%>
          </div>
          <button data-submiting="logging in..."
                  class="btn btn-primary" id="userLogin"
                  title="LOGIN" tabindex="4">login
          </button>
          <div class="general_error invalid-feedback" data-forid="userLoginForm"></div>
          <% if !@presenter_obj.has_sale_ended? %>
            <div class="user-form-footer login-page-footer text-center">
              <div class="create-account mt-2 mb-2" tabindex="5">Don’t Have an Account Yet?</div>
              <a href="/sign-up" class="btn btn-secondary" id="register-to-participate" title="Register To Participate" tabindex="5">
                register to participate
              </a>
            </div>
          <% end %>
        </form>
      </div>
    </div>
  </div>
</div>


<% content_for :end_js do %>
    <script type="text/javascript">
        $(document).ready(function () {
            simpletoken.home.login.init({
                api_token_sale_state_page_names: <%= raw GlobalConstant::TokenSaleUserState.api_token_sale_state_page_names.to_json %>,
                d_token: '<%= params[:t] %>'
            });
        });
    </script>
<% end %>