<% content_for :gradient_class, "bg-gradient poRel" %>
<div class="container-fluid sign-up-form">
  <div class="row">
    <div class="col-xs-12">
      <%= render :partial => "/shared/web/common/kycaas_header" %>
      <div class="simple-token-form">
        <h1 class="text-center form-header">Login to Simple Token</h1>

        <form class="user-form" method="POST" action="/api/user/login" id="userLoginForm">
          <div class="form-group">
            <label for="email">email address</label>
            <input type="text" name="email" id="email" value="" class="form-control" autofocus tabindex="1" autocomplete="off">

            <div class="error" data-for="email"></div>
          </div>
          <div class="form-group">
            <label for="password">password</label>

            <div style="position: relative">
              <input type="password" name="password" id="password" value="" class="form-control" tabindex="2" autocomplete="off">
              <span class="input-group-addon showhide-addon" id="showhide-password"><span class="show-password-eye-icon"></span></span>
            </div>
            <a href="/reset-password" title="Forgot password?" class="forgot-password" tabindex="3">Forgot password?</a>

            <div class="error" data-for="password"></div>
          </div>
          <div class="form-group form-recapcha">
            <div class="g-recaptcha form-recapcha-wrap" data-sitekey="<%= GlobalConstant::Base.recaptcha['site_key'] %>" tabindex="3"></div>
            <div class="error" data-for="recaptcha" style="text-align: center"></div>
          </div>
          <div class="user-form-footer">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
            <%= hidden_field_tag GlobalConstant::Base.page_loaded_at_key, GlobalConstant::Base.current_time -%>
            <button type="submit" class="btn btn-gold form-btn-gold" id="userLogin" title="LOGIN" tabindex="4">login</button>
            <div class="error" data-for="general_error" style="text-align: center"></div>
          </div>
          <% if !@client_setup_presenter_obj.has_sale_ended? %>
              <div class="user-form-footer login-page-footer">
                <div class="create-account" tabindex="5">Don’t Have an Account Yet?</div>
                <a href="/sign-up" class="btn-common btn-grey form-btn-transparent" id="" title="Register To Participate" tabindex="5">register
                  to participate</a>
              </div>
          <% end %>
        </form>
      </div>
    </div>
  </div>
</div>

<%= render :partial => "/shared/web/common/kycaas_footer" %>


<% content_for :end_js do %>
    <script type="text/javascript">
        $(document).ready(function () {
            simpletoken.home.login.init({
                api_token_sale_state_page_names: <%= raw GlobalConstant::TokenSaleUserState.api_token_sale_state_page_names.to_json %>,
                d_token: '<%= raw params[:t] %>'
            });
        });
    </script>
<% end %>