<% content_for :gradient_class, "bg-gradient poRel" %>
<div class="container sign-up-form">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <a href="/" title="Simple Token">
          <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/logo/simple-token-dashboard-logo-1x.png" width="202" alt="Simple Token Logo"/>
        </a>
      </div>
      <div class="simple-token-form">
        <h1 class="text-center form-header">Register for the Token Sale</h1>
        <form class="user-form" method="POST" action="/api/user/sign-up" id="userSignUpForm">
          <div class="form-group">
            <label for="email">email address</label>
            <input type="text" name="email" value="" class="form-control" autofocus tabindex="1" autocomplete="off" />
            <div class="error" data-for="email"></div>
          </div>
          <div class="form-group">
            <label for="password">password</label><span class="pull-right minimum-characters">Minimum 8 characters</span>
            <div style="position: relative">
              <input type="password" name="password" id="password" value="" class="form-control" tabindex="3" autocomplete="off" />
              <span class="input-group-addon showhide-addon" id="showhide-password"><span class="show-password-eye-icon"></span></span>
            </div>
            <div class="zxcvbn-group"></div>
            <div class="error" data-for="password"></div>
          </div>
          <div class="form-group form-recapcha">
            <div class="g-recaptcha form-recapcha-wrap" data-sitekey="<%= GlobalConstant::Base.recaptcha['site_key'] %>" tabindex="17"></div>
            <div class="error" data-for="recaptcha" style="text-align: center"></div>
          </div>
          <div class="checkbox termsConditions">
            <input style="display:none;" name="terms_of_service" type="checkbox" class="list-item" value="agree" id="agree-and-acknowledge">
            <label for="agree-and-acknowledge" class="termsLinks">
              By checking this box, you agree to our <a href="<%= GlobalConstant::Base.simple_token_web['root_url'] %>/terms" title="Terms of Service" target="_blank">Terms of Service</a> and acknowledge and consent to our <a href="<%= GlobalConstant::Base.simple_token_web['root_url'] %>/privacy" title="Privacy Policy" target="_blank">Privacy Policy</a>.
            </label>
            <div class="error" data-for="terms_of_service"></div>
          </div>
          <div class="user-form-footer">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
            <%= hidden_field_tag GlobalConstant::Base.page_loaded_at_key, GlobalConstant::Base.current_time -%>
            <button type="submit" class="btn btn-gold form-btn-gold" id="userSignUp" title="Register" tabindex="4">register</button>
            <div class="error" data-for="general_error" style="text-align: center"></div>
          </div>
          <div class="user-form-footer login-page-footer">
            <div class="create-account" tabindex="5" style="margin-top: 0">Have an Account Already?</div>
            <a href="/login" class="btn-common btn-grey form-btn-transparent" id="" title="Login" tabindex="6">login</a>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<% content_for :end_js do %>
    <script src='https://www.google.com/recaptcha/api.js'></script>
<% end %>