<% content_for :gradient_class, "bg-gradient position-relative" %>
<div class="container sign-up-form py-5">
  <div class="row">
    <div class="col-12">
      <%= render :partial => "/shared/web/common/kycaas_logo_header" %>

      <div class="simple-token-form">
        <h3 class="text-center mt-4">Register for the Token Sale</h3>
        <form class="user-form" method="POST" action="/api/user/sign-up" id="userSignUpForm">
          <div class="form-group">
            <label class="form-label" for="email">email address</label>
            <input type="text" name="email" value="" class="form-control" autofocus tabindex="1" autocomplete="off"/>
            <div class="error" data-for="email"></div>
          </div>
          <div class="form-group">
            <label class="form-label" for="password">password</label><span class="float-right display-4 minimum-characters">Minimum 8 characters</span>
            <div class="position-relative" >
              <input type="password" name="password" id="password" value="" class="form-control" tabindex="2" autocomplete="off"/>
              <span class="input-group-addon showhide-addon" id="showhide-password"><span class="show-password-eye-icon"></span></span>
            </div>
            <div class="zxcvbn-group"></div>
            <div class="error" data-for="password"></div>
          </div>
          <div class="form-group form-recapcha">
            <div class="g-recaptcha form-recapcha-wrap" data-sitekey="<%= GlobalConstant::Base.recaptcha['site_key'] %>" tabindex="3"></div>
            <div class="error text-center" data-for="recaptcha" ></div>
          </div>
          <div class="checkbox termsConditions form-group">
            <input style="display:none;" name="terms_of_service" type="checkbox" class="list-item" value="agree" id="agree-and-acknowledge">
            <label for="agree-and-acknowledge" class="termsLinks " tabindex="4">
              <%= raw @presenter_obj.page_data['checkbox_html'] %>
            </label>
            <div class="error" data-for="terms_of_service"></div>
          </div>
          <div class="user-form-footer form-group">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
            <%= hidden_field_tag GlobalConstant::Base.page_loaded_at_key, GlobalConstant::Base.current_time -%>
            <button type="submit" class="btn btn-primary" id="userSignUp" title="Register" tabindex="5">register</button>
            <div class="error text-center" data-for="general_error" style="text-align: center"></div>
          </div>
          <div class="user-form-footer login-page-footer">
            <div class="create-account mt-2 mb-2" tabindex="5" >Have an Account Already?</div>
            <a href="/login" class="btn btn-secondary mx-auto" id="" title="Login" tabindex="6">login</a>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<%= render :partial => "/shared/web/common/kycaas_footer" %>