<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <style>

    body {
      text-align: center;
    }

    .errorPageContent{
      min-height: calc(100vh - 60px);
      max-width: 640px;
      padding: 30px 0;
      margin: 0 auto;
    }

    img {
      width: 20%;
      padding-top: 50px;
      margin: 0 auto;
    }

    @media only screen and (max-width: 767px) {
      img {
        width: 50%;
      }
    }

    .homeBtn {
      padding: 15px 40px;
    }

  </style>
</head>

<body>

<div class="errorPageContent">
  <div class="errorPageContentInner">
    <div>
      <a class="border-none" href="<%= @presenter_obj.header_logo['href'] %>"  title="<%= @presenter_obj.account_name %>" >
        <img src="<%= @presenter_obj.header_logo['src'] %>" alt="<%= @presenter_obj.account_name %> Logo" width="<%= @presenter_obj.header_logo['width'] %>%"
             class="simpletoken-logo"/>
      </a>
    </div>

    <h4 class="mt-4 p-2">The IP you are trying to connect is blocked.</h4>
    <div class="pr-4  pl-4">The country you are in is not eligible to participate in the token sale and therefore your
      current IP is blocked. Please refer to the Terms and Conditions page.
    </div>
    <% if @presenter_obj.terms_and_conditions.present? %>
      <a href="<%= raw @presenter_obj.terms_and_conditions %>" target="_blank" class="btn btn-primary homeBtn mt-5" title="Lets Get You Home">terms
        and conditions</a>
    <% end %>
  </div>
</div>
</body>
</html>