<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <style>
    html, body {
      height: 100%;
    }

    body {
      font-family: arial, sans-serif;
      margin: 0;
      padding: 0;
      text-align: center;
    }

    .errorPageContent{
      min-height: calc(100vh - 60px);
      padding: 30px 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @media only screen and (max-width: 767px) {
      img {
        width: 80%;
      }
    }

    @media only screen and (min-width: 768px) {
      img {
        width: 20%;
        padding-top: 50px;
      }
    }

    .desc2 {
      letter-spacing: 0.4px;
      color: #435353;
      font-size: 20px;
      font-weight: 300;
      padding: 10px 300px 20px 300px;
      margin: 30px 0 20px;
    }

    .desc1 {
      letter-spacing: 0.4px;
      color: #435353;
      font-size: 32px;
      font-weight: 300;
      margin: 30px 0 20px;
    }

    .homeBtn {
      /*background-color: #e4b030;*/
      display: inline-block;
      border-radius: 30px;
      padding: 15px 40px;
      /*color: #fff;*/
      font-weight: 300;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-decoration: none;
    }
  </style>
</head>

<body>

<div class="errorPageContent">
  <div class="errorPageContentInner">
    <div>
      <a href="<%= @presenter_obj.header_logo['href'] %>"><img src="<%= @presenter_obj.header_logo['src'] %>" alt="simpletoken" width="<%= @presenter_obj.header_logo['width'] %>" class="simpletoken-logo"/></a>
    </div>

    <div class="desc1">THE IP YOU ARE TRYING TO CONNECT IS BLOCKED</div>
    <div class="desc2">The country you are in is not eligible to participate in the token sale and therefore your
      current IP is blocked. Please refer to the Terms and Conditions page.
    </div>
    <% if @presenter_obj.page_data['primary_button_href'].present? %>
      <a href="<%= @presenter_obj.page_data['primary_button_href'] %>" class="client-primary-btn homeBtn" title="Lets Get You Home">terms
        and conditions</a>
    <% end %>
  </div>
</div>


</body>
</html>

<%= render :partial => "/shared/web/common/kycaas_footer" %>