<% content_for :gradient_class, "bg-gradient poRel height100vh" %>
<%= "Invalid token url " if params["e_t"] == 1 %>
<div class="container sign-up-form">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/logo/logo-with-tagline-mobile.png" width="211"/>
      </div>
      <div class="simple-token-form">
        <h1 class="text-center form-header">Thanks for Registration</h1>
        <div class="form-sub-header text-center" style="font-weight: 500;font-size: 18px;margin-top: 25px">Check Your Inbox and verify your Registration</div>
        <div class="form-sub-header text-center">We have sent an email to <%= @user["email"] %> please click on the <br/>Verify Button in the email to Activate your account</div>
        <div class="user-form">
          <div class="user-form-footer">
            <div class="create-account" tabindex="5">Did not receive the email yet?</div>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
            <a href="javascript:void(0)" id="resendLink" class="btn-common btn-grey form-btn-transparent resendLink" title="Re-send Verification Link" tabindex="3">re-send verification link</a>
            <div class="success" id="successMessage"></div>
            <div class="error" data-for="general_error"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render :partial => "/shared/web/common/footer" %>
<%= render :partial => "/shared/web/modals/verification_link_modal" %>

<% content_for :end_js do %>
  <script type="text/javascript">
    $(document).ready(function () {
      simpletoken.verification.home.init({
        e_t: '<%=  params["e_t"] %>'
      });
    });
  </script>
<% end %>