<div>
  <% if @presenter_obj.is_st_token_sale_client? %>
    <%= render :partial => "/shared/web/common/loggedin_header", locals: {user: @user} %>
  <% else %>
    <%= render :partial => "/shared/web/common/loggedin_kycaas_header", locals: {user: @user} %>
  <% end %>
</div>
<%= "Invalid token url " if params["e_t"] == 1 %>
<div class="container sign-up-form py-5">
  <div class="row">
    <div class="col-12">
           <%= render :partial => "/shared/web/common/kycaas_logo_header" %>

      <div class="simple-token-form">
        <h3 class="text-center form-header mt-4">Thank you for registering</h3>
        <div class="form-sub-header text-center check-inbox">Check your inbox to activate your account</div>
        <div class="form-sub-header text-center mt-2">We have sent an email to <%= @user["email"] %>. Please click on the "Activate Account"</br> button in the email to access your account.</div>
        <div class="user-form verification-user-form">
          <div class="user-form-footer">
            <div class="create-account no-mail">Didn't receive the email?</div>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
            <a href="javascript:void(0)" id="resendLink" class="btn btn-secondary resendLink mt-3"
               title="Re-send Activation Email" tabindex="1">Re-send Activation Email</a>
            <div class="success mt-2" id="successMessage"></div>
            <div class="invalid-feedback mt-2 general_error"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render :partial => "/shared/web/modals/verification_link_modal" %>

<% content_for :end_js do %>
  <script type="text/javascript">
    $(document).ready(function () {
      simpletoken.verification.home.init({
        e_t: '<%=  (params["e_t"].to_i == 1) %>'
      });
    });
  </script>
<% end %>