<%

  img_root = "//d36lai1ppm9dxu.cloudfront.net/assets/image/";
  img_version = "?v=1";

  key_dates_data_2017 = [
    {
      display_date: "1 Nov",
      heading: "Early Registration Starts",
      description: "Register between 1-13 November to get whitelisted for the Early Access sale on 14 November, 2017.",
      img: {
        width: 161,
        src: img_root + "simpletoken-timeline-early-registration-starts.png" + img_version
      }
    },
    {
      display_date: "13 Nov",
      heading: "Public Registration Starts",
      description: "Did you miss the early registration period? There’s still time to register for the public sale which starts on 15 November, 2017.",
      img: {
        width: 101,
        src: img_root + "simpletoken-timeline-public-registration-starts.png" + img_version
      }
    },
    {
      display_date: "14 Nov",
      heading: "Early Access Sale Starts",
      description: "1-day private sale for early registrants only. There will be a maximum purchase size per person in order to ensure the most people can participate.",
      img: {
        width: 204,
        src: img_root + "simpletoken-timeline-early-access.png" + img_version
      }
    },
    {
      display_date: "15 Nov",
      heading: "Public Sale Starts",
      description: "Token sale open to the public until all tokens are sold or until 1 December, whichever occurs first. No maximum purchase per person.",
      img: {
        width: 275,
        src: img_root + "simpletoken-timeline-public-sale-starts.png" + img_version
      }
    },
    {
      display_date: "1 Dec",
      heading: "Token Sale Ends",
      description: "The token sale will end at latest at 12:59:59 UTC on 1 December 2017 if supplies do not run out sooner.",
      img: {
        width: 155,
        src: img_root + "01-dec-token-sale-ends@2x.png" + img_version
      }
    },
    {
      display_date: "5 Dec",
      heading: "Final Report on Token Sale",
      description: "The final results from the Token Sale will be published on 5 December, including a summary of buyers, distribution, bonuses, and burns.",
      img: {
        width: 122,
        src: img_root + "05-dec-final-report-on-token-sale@2x.png" + img_version
      }
    },
    {
      display_date: "18-20 Dec",
      heading: "Altdrop Bonus",
      description: "Participants in the Altdrop program will receive their altcoins between 18 and 20 December. Altcoins will be purchased at market rates on 15 December.",
      img: {
        width: 179,
        src: img_root + "18-20-dec-altdrop@2x.png" + img_version
      }
    },
    {
      display_date: "19 Dec",
      heading: "ST Activations",
      description: "Purchased tokens during the token sale will be activated on 19 December, once activated the tokens are transferrable and tradable. (Public sale get 100% of tokens immediately, Private sale get 1/12th monthly)",
      img: {
        width: 208,
        src: img_root + "19-dec-token-activation@2x.png" + img_version
      }
    },
    {
      display_date: "19 Dec",
      heading: "OpenST 0.9.1 Release",
      description: "ST holders can stake ST on mainnet and mint Branded Tokens on utility chains",
      img: {
        width: 176,
        src: img_root + "18-dec-open-st-release@2x.png" + img_version
      }
    },
    {
      display_date: "15 Jan",
      heading: "Bonus Tokens Distribution",
      description: "All bonus tokens are distributed to all purchasers and transferrable immediately. (Public sale get 100% of bonus immediately, Private sale get 1/12th monthly)",
      img: {
        width: 253,
        src: img_root + "12-jan-bonus-token-distribution@2x.png" + img_version
      }
    }
  ];

  key_dates_data_2018 = [
    {
      display_date: "1 Nov",
      heading: "Early Registration Starts",
      description: "The final results from the Token Sale will be published on 5 December, including a summary of buyers, distribution, bonuses, and burns.",
      img: {
        width: 161,
        src: img_root + "simpletoken-timeline-early-registration-starts.png" + img_version
      }
    },
    {
      display_date: "1 Nov",
      heading: "Early Registration Starts",
      description: "Any unallocated tokens from the token sale hard cap of 240M ST will be burned on 12 December.",
      img: {
        width: 161,
        src: img_root + "simpletoken-timeline-early-registration-starts.png" + img_version
      }
    },
    {
      display_date: "1 Nov",
      heading: "Early Registration Starts",
      description: "Participants in the Altdrop program will receive their altcoins between 18 and 20 December. Altcoins will be purchased at market rates on 15 December.",
      img: {
        width: 161,
        src: img_root + "simpletoken-timeline-early-registration-starts.png" + img_version
      }
    },
    {
      display_date: "1 Nov",
      heading: "Early Registration Starts",
      description: "Purchased tokens during the token sale will be activated on 19 December, once activated the tokens are transferrable and tradable. (Public sale get 100% of tokens immediately, Private sale get 1/12th monthly)",
      img: {
        width: 161,
        src: img_root + "simpletoken-timeline-early-registration-starts.png" + img_version
      }
    }
  ];

%>

<section class="container container-token-key-dates paddingTop57" id="keydates">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
      <h2 class="header text-center">Roadmap</h2>
      <h2 class="header text-center">2017</h2>
      <!-- THE CODE | THE CODE | THE CODE | THE CODE | THE CODE -->
      <div id="timeline_2017">
        <div class="demo-card-wrapper road-map-2017">

          <% key_dates_data_2017.each_with_index do | data, indx | %>
            <div class="demo-card demo-card--step<%= indx + 1%>">
              <div class="head">
                <div class="number-box"><%= data[:display_date] %></div>
                <h3><%= data[:heading] %></h3>
              </div>
              <div class="body">
                <p><%= data[:description] %></p>
                <% if data[:img].present? %>
                  <img src="<%= data[:img][:src] %>" style="width:<%= data[:img][:width] %>px;" />
                <% end %>
              </div>
            </div>            
          <% end %>
        </div>

        <h2 class="header text-center">2018</h2>
        <!-- THE CODE | THE CODE | THE CODE | THE CODE | THE CODE -->
        <div id="timeline_2018">
          <div class="demo-card-wrapper road-map-2018">

            <% key_dates_data_2018.each_with_index do | data, indx | %>
              <div class="demo-card demo-card--step<%= indx + 1%>">
                <div class="head">
                  <div class="number-box"><%= data[:display_date] %></div>
                  <h3><%= data[:heading] %></h3>
                </div>
                <div class="body">
                  <p><%= data[:description] %></p>
                  <% if data[:img].present? %>
                    <img src="<%= data[:img][:src] %>" style="width:<%= data[:img][:width] %>px;" />
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>

      </div>
    </div>
  </div>
</section>