<div id="banner-content"></div>

<%= render :partial => "/shared/web/common/loggedin_kycaas_header", locals: {user: user} %>
<%= render :partial => "/shared/web/common/kycaas_logo_header" %>


<% if @presenter_obj.has_sale_ended? %>
  <%= render :partial => "/web/dashboard/token_sale_ends" %>
  <% if !@presenter_obj.is_kyc_approved? %>
    <div style="padding-top: 50px"></div>
  <% end %>
  <% if @presenter_obj.is_kyc_approved? %>
    <!--<%= render :partial => "/web/dashboard/sale_end_links" %>-->
    <%= render :partial => "/web/dashboard/kyc_status" %>
    <%= render :partial => "/web/dashboard/telegram" %>
  <% end %>
<% elsif @presenter_obj.can_purchase? %>
  <%= render :partial => "/web/dashboard/sale_open_timer" %>
  <%= render :partial => "/web/dashboard/ethereum_deposit_address" %>
  <%= render :partial => "/web/dashboard/kyc_status" %>
  <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/join-team-divider-3x.png" width="124" style="margin: 35px auto 30px;display: block;">
  <%= render :partial => "/web/dashboard/telegram" %>
<% else %>
  <%= render :partial => "/web/dashboard/sale_open_timer" %>
  <%= render :partial => "/web/dashboard/kyc_status" %>
  <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/join-team-divider-3x.png" width="124" style="margin: 35px auto 30px;display: block;">
  <%= render :partial => "/web/dashboard/telegram" %>
<% end %>

<%= render :partial => "/shared/web/common/kycaas_footer" %>


<% content_for :end_js do %>
  <script type="text/javascript">
    $(document).ready(function () {
      simpletoken.dashboard.timer.init(
        {
          try_reload: '<%= @presenter_obj.try_reload %>',
          show_ethereum_address_confirm_modal: '<%= @presenter_obj.show_ethereum_address_confirm_modal? %>'
        }
      );
    });
  </script>
<% end %>
