<div id="banner-content"></div>
<%= render :partial => "/shared/web/common/loggedin_header", locals: {user: @presenter_obj.user} %>
<div class="text-center">
  <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/logo/simple-token-dashboard-logo-1x.png" width="202" alt="Simple Token Logo"/>
</div>

<% if @presenter_obj.has_sale_ended? %>
  <%= render :partial => "/web/dashboard/token_sale_ends" %>
  <% if @presenter_obj.is_kyc_approved? %>
    <%= render :partial => "/web/dashboard/forgot_eth_address" %>
  <% end %>
  <% if !@presenter_obj.is_kyc_approved? %>
    <div style="padding-top: 50px"></div>
  <% end %>
  <div class="token-sale-progress text-center signup">
    <%= render :partial => "/web/token_sale/sale_stats" %>
  </div>
  <% if @presenter_obj.is_kyc_approved? %>
    <%= render :partial => "/web/dashboard/sale_end_links" %>
    <%= render :partial => "/web/dashboard/kyc_status" %>
    <%= render :partial => "/web/dashboard/telegram" %>
  <% end %>
<% elsif @presenter_obj.has_sale_paused? %>
  <%= render :partial => "/web/dashboard/token_sale_pause" %>
  <% if !@presenter_obj.is_kyc_denied? %>
    <!--<img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/join-team-divider-3x.png" width="124" style="margin: 35px auto 30px;display: block;">-->
  <% end %>
  <%= render :partial => "/web/dashboard/forgot_eth_address" %>
  <% if @presenter_obj.is_kyc_denied? %>
    <div style="padding: 25px"></div>
  <% end %>
  <%= render :partial => "/web/dashboard/telegram" %>
<% elsif @presenter_obj.can_purchase? %>
  <%= render :partial => "/web/dashboard/sale_open_timer" %>
  <%= render :partial => "/web/dashboard/ethereum_deposit_address" %>
  <%= render :partial => "/web/dashboard/kyc_status" %>
  <!--<img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/join-team-divider-3x.png" width="124" style="margin: 35px auto 30px;display: block;">-->
  <%= render :partial => "/web/dashboard/forgot_eth_address" %>
  <%= render :partial => "/web/dashboard/telegram" %>
<% else %>
  <%= render :partial => "/web/dashboard/sale_open_timer" %>
  <%= render :partial => "/web/dashboard/kyc_status" %>
  <!--<img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/join-team-divider-3x.png" width="124" style="margin: 35px auto 30px;display: block;">-->
  <%= render :partial => "/web/dashboard/forgot_eth_address" %>
  <%= render :partial => "/web/dashboard/question_on_sale" %>
  <%= render :partial => "/web/dashboard/telegram" %>
<% end %>


<% content_for :end_js do %>
  <script type="text/javascript">
    $(document).ready(function () {
      simpletoken.dashboard.timer.init(
        {
          try_reload: '<%= @presenter_obj.try_reload %>',
          show_ethereum_address_confirm_modal: '<%= @presenter_obj.show_ethereum_address_confirm_modal? %>'
        }
      );

      <% if @presenter_obj.is_double_optin_token_present? %>
         simpletoken.utilities.showSuccessAlert("Your Account is Activated");
      <% end %>

    });
  </script>
<% end %>
