<div class="container-fluid dashboard-page margin35auto">
  <div class="row">

    <div class="col-xs-12">

      <% if @presenter_obj.show_unable_for_early_purchase_text? %>
        <div class="text-center early-access-purchase">Only Early Access users will be able to purchase on 14th Nov
        </div>
      <% end %>
      <div class="panel panel-default kyc-panel <%= @presenter_obj.kyc_verification_class %>">
        <table class="panel-body">
          <tr>
            <td>
              <span class="kyc-status-icon-<%= @presenter_obj.kyc_verification_icon_class %> ver-middle"></span>
              <span class="ver-middle"><%= @presenter_obj.kyc_verification_text %></span>
            </td>
            <td>
              <% if @presenter_obj.is_kyc_pending? %>
                <a href="javascript:void(0)" <%= raw 'class="openModal"' if @presenter_obj.show_kyc_update_modal? %> id="kycUpdate">update
                  kyc</a>
              <% end %>
            </td>
          </tr>
        </table>
      </div>

      <% if @presenter_obj.show_ethereum_address_whitelist_status_box? %>
        <!--
          <div class="panel panel-default kyc-panel approved">
            <table class="panel-body">
              <tr>
                <td>
                  <span class="kyc-status-icon-<%= @presenter_obj.ethereum_address_whitelist_icon_class %> ver-middle"></span>
                  <span class="ver-middle"><%= @presenter_obj.ethereum_address_whitelist_done? ? 'Ethereum Address Whitelisted' : 'Ethereum Address Whitelisting in Progress' %></span>
                </td>
                <td>
                </td>
              </tr>
            </table>
          </div>
          -->
      <% end %>

      <% if !@presenter_obj.is_kyc_denied? %>
        <div class="panel panel-default kyc-panel approved">
          <table class="panel-body">
            <tr>
              <td>
                <span class="kyc-status-icon-<%= @presenter_obj.token_name_icon_class %> ver-middle"></span>
                <span class="ver-middle"><%= @presenter_obj.token_name_pending? ? 'Token Name Not Reserved' : 'Token Name Reserved' %></span>
              </td>
              <td>
                <a href="/update-token"><%= @presenter_obj.token_name_pending? ? 'reserve name' : 'change name' %></a>
              </td>
            </tr>
          </table>
        </div>

        <% if @presenter_obj.show_bonus_box? %>
          <div class="panel panel-default kyc-panel approved">
            <div class="panel-body">
              <div style="overflow: hidden">
                  <span class="pull-left">
                  <span class="kyc-status-icon-<%= @presenter_obj.bonus_icon_class %> ver-middle"></span>
                    <span class="ver-middle"><%= @presenter_obj.is_bonus_confirmed? ? "#{@presenter_obj.formatted_bonus_value}% Bonus Confirmed" : '10% Bonus Pending' %></span>
                </span>
                <% unless @presenter_obj.is_bonus_confirmed? %>
                  <a href="javascript:void(0)" id="prove-support-link" class="collapsed pull-right" data-toggle="collapse" data-target="#prove-support-content">PROVE
                    SUPPORT</a>
                <% end %>
              </div>
              <div id="prove-support-content" class="panel-collapse collapse prove-support-content text-center">
                <div class="header">Earn Your 10% Early Access Bonus</div>
                <div class="desc">Join our Telegram Channel and send us a Proof of Support at community@simpletoken.org
                  to get 10% Bonus on your Early Access purchase.
                </div>
                <a href="https://docs.google.com/document/d/1mOQBspEmW3hDLSfu8eG4bmWML79d5yIKIE1yZjsyDRc/edit" target="_blank" title="Learn More">LEARN
                  MORE</a>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

    </div>

  </div>
</div>
<% if @presenter_obj.show_kyc_update_modal? %>
  <%= render :partial => "/shared/web/modals/kyc_update_warning_modal" %>
<% end %>