<div class="container-fluid dashboard-page">
  <div class="row">

    <div class="col-xs-12">
      <div class="text-center">

        <div class="panel panel-default kyc-panel <%= @presenter_obj.kyc_verification_class %>">
          <table class="panel-body">
            <tr>
              <td>
                <span class="kyc-status-icon-<%= @presenter_obj.kyc_verification_icon_class %> ver-middle"></span>
                <span class="ver-middle"><%= @presenter_obj.kyc_verification_text %></span>
              </td>
              <td>
                <% if @presenter_obj.is_kyc_pending? %>
                    <a href="javascript:void(0)" <%= raw 'class="openModal"' if @presenter_obj.show_kyc_update_modal? %> id="kycUpdate">update
                      kyc</a>
                <% end %>
              </td>
            </tr>
          </table>
        </div>

        <% if @presenter_obj.show_ethereum_address_whitelist_status_box? %>
            <div class="panel panel-default kyc-panel approved">
              <table class="panel-body">
                <tr>
                  <td>
                    <span class="kyc-status-icon-<%= @presenter_obj.ethereum_address_whitelist_icon_class %> ver-middle"></span>
                    <span class="ver-middle"><%= @presenter_obj.ethereum_address_whitelist_done? ? 'Ethereum Address Whitelisted' : 'Ethereum Address Whitelisting in Progress' %></span>
                  </td>
                  <td>
                  </td>
                </tr>
              </table>
            </div>
        <% end %>

        <div class="panel panel-default kyc-panel approved">
          <table class="panel-body">
            <tr>
              <td>
                <span class="kyc-status-icon-<%= @presenter_obj.token_name_icon_class %> ver-middle"></span>
                <span class="ver-middle"><%= @presenter_obj.token_name_pending? ? 'Token Name Not Reserved' : 'Token Name Reserved' %></span>
              </td>
              <td>
                <a href="/update-token"><%= @presenter_obj.token_name_pending? ? 'reserve name' : 'change name' %></a>
              </td>
            </tr>
          </table>
        </div>

        <% if @presenter_obj.show_bonus_box? %>
            <div class="panel panel-default kyc-panel approved">
              <table class="panel-body">
                <tr>
                  <td>
                    <span class="kyc-status-icon-<%= @presenter_obj.bonus_icon_class %> ver-middle"></span>
                    <span class="ver-middle"><%= @presenter_obj.is_bonus_confirmed? ? '10% Bonus Confirmed' : '10% Bonus Pending' %></span>
                  </td>
                  <td>
                    <% unless @presenter_obj.is_bonus_confirmed? %>
                        <span id="bonusSupport">PROVE SUPPORT</span>
                    <% end %>
                  </td>
                </tr>
              </table>
            </div>
        <% end %>

      </div>
    </div>

  </div>
</div>
<% if @presenter_obj.show_kyc_update_modal? %>
    <%= render :partial => "/shared/web/modals/kyc_update_warning_modal" %>
<% end %>