<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <title><%= @page_meta_data[:title] %></title>
  <meta name="robots" content="noindex, nofollow">
  <%= csrf_meta_tags %>
  <script>window.name = "<%= [*('A'..'Z')].sample(8).join %>";</script>

  <link rel="icon" type="image/png" sizes="64x64" href="https://d36lai1ppm9dxu.cloudfront.net/assets/fav-icon/v2/64.png"/>
  <link rel="apple-touch-icon" sizes="57x57" href="https://d36lai1ppm9dxu.cloudfront.net/assets/fav-icon/v2/57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="https://d36lai1ppm9dxu.cloudfront.net/assets/fav-icon/v2/60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://d36lai1ppm9dxu.cloudfront.net/assets/fav-icon/v2/72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://d36lai1ppm9dxu.cloudfront.net/assets/fav-icon/v2/76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="https://d36lai1ppm9dxu.cloudfront.net/assets/fav-icon/v2/114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://d36lai1ppm9dxu.cloudfront.net/assets/fav-icon/v2/120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="https://d36lai1ppm9dxu.cloudfront.net/assets/fav-icon/v2/144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://d36lai1ppm9dxu.cloudfront.net/assets/fav-icon/v2/152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="https://d36lai1ppm9dxu.cloudfront.net/assets/fav-icon/v2/180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="https://d36lai1ppm9dxu.cloudfront.net/assets/fav-icon/v2/192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://d36lai1ppm9dxu.cloudfront.net/assets/fav-icon/v2/32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="https://d36lai1ppm9dxu.cloudfront.net/assets/fav-icon/v2/96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://d36lai1ppm9dxu.cloudfront.net/assets/fav-icon/v2/16.png">

  <%= stylesheet_link_tag 'admin/default_simple_token_admin' %>
  <%= stylesheet_link_tag "#{specific_manifest_file_path}", media: 'all' if has_specific_css_manifest_file? %>

  <% if ['admin/home::login'].include?("#{params[:controller]}::#{params[:action]}") %>
    <script src="https://www.google.com/recaptcha/api.js"></script>
  <% end %>

  <base href="/">
</head>
<body contenteditable="false">

<main id="site-content">
  <%= yield %>
</main>

<%# unless (params[:controller] == 'admin/home' && ['angular_app'].include?(params[:action])) %>
<%= render :partial => "/admin/shared/footer" %>
<%# end %>

<%= javascript_include_tag "admin/common" %>
<%= javascript_include_tag "#{specific_manifest_file_path}", :defer => "defer" if has_specific_js_manifest_file? %>

<%= yield :javascript %>

<script type="text/javascript">
  $(document).ready(function () {
    status401redirect = "/admin/login";
  });
</script>

</body>
</html>

<%= render :partial => "/admin/shared/svg_sprite" %>
